@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot');
  src: local('☺'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype'), url('../fonts/HelveticaNeue-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
section.listingsection {
  width: 100%;
  float: left;
  margin-top: 70px; }

  section.listingsection .displayLabel {
    color:#5b6872;
    font-size: 22px;
  }
  section.listingsection .listing h5 {
    text-transform: capitalize;
    font-size: 18px;
    color: #5b6973; }
  section.listingsection .input-section input {
    height: 48px;
    margin-bottom: 40px;
    background:#f5f7f6;
    border:none;
    border-bottom:6px solid #e0e0e0;
    box-shadow: none; }
  section.listingsection .text-area-section textarea {
    height: 150px;
    text-transform: capitalize;
    background:#f5f7f6;
    border:none;
    border-bottom:6px solid #e0e0e0;
    box-shadow: none;
     }
  section.listingsection aside.dynamic-user-detail {
    text-align: right;
    margin-top: -20px; }
  section.listingsection .user-detail p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px; }
  section.listingsection .user-detail p:first-child {
    color: #ab1f58; }
  section.listingsection .user-detail p:first-child span {
    color: #898989; }
  section.listingsection .user-detail p:nth-child(2) span {
    color: #0468ad; }
  section.listingsection .user-detail p:nth-child(3) span {
    color: #f7ac0c; }
  section.listingsection .user-detail p:nth-child(4) span {
    color: #3e970e; }
  section.listingsection .listing-image {
    position: relative;
    width: 100%; }
  section.listingsection .image-wrapper {
    width: 70%;
    float: right; }
  section.listingsection .listing-image img {
    width: 100%; }
  section.listingsection .listing-hover p {
    text-align: center;
    padding-top: 28%; }
  section.listingsection .listing-hover {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 100%;
    cursor: pointer;
    display: none; }
  section.listingsection .image-wrapper:hover .listing-hover {
    display: block; }

section.listing-detail {
  width: 100%;
  float: left; }
  section.listing-detail .tab-section {
    width: 36%; }
  section.listing-detail .tab-section ul {
    border: 0px; }
  section.listing-detail .tab-section ul li a {
    border-radius: 6px 6px 0px 0px !important;
    font-size: 18px;
    color: #5b6973; }
  section.listing-detail .tabs-content.tabcontent {
    background-color: #f5f7f6;
    width: 100%;
    float: left; }
  section.listing-detail .listing-detail-section {
    width: 58%;
    float: left; }
  section.listing-detail .input-section {
    width: 79%;
    float: left; }
  section.listing-detail .label1 {
    width: 36%;
    float: left;
    font-size: 18px;
    margin-top: 8px;
    color: #5b6973;
    text-transform: capitalize; }
  section.listing-detail .label1 span {
    margin-left: 2px;
    color: #c62059; }
  section.listing-detail .listing-detail-input {
    width: 61%;
    float: right; }
  section.listing-detail .listing-detail-input input {
    width: 60%;
    float: left; }
  section.listing-detail .quantity-label {
    margin-top: 0px !important; }
  section.listing-detail .listing-detail-input span {
    margin-left: 10px; }
  section.listing-detail .listing-detail-input span i {
    color: #c62059; }

section.category-section {
  width: 100%;
  float: left;
  margin-top: 5em; }
  section.category-section .category-header h5 span {
    font-size: 18px;
    color: #c62059;
    margin-right: 13px; }
  section.category-section .category-header h5 {
    font-size: 28px;
    color: #0468ad;
    margin: 0;
    text-transform: capitalize; }
  section.category-section .category-header p {
    font-size: 18px;
    color: #818282; }
  section.category-section .medium-4.columns.category-type input {
    width: 27px;
    height: 17px; }
  section.category-section .medium-4.columns.category-type {
    font-size: 18px; }
  section.category-section .edit-button {
    margin-top: 20px; }
  section.category-section .button-group.buttongroup {
    float: right; }
  section.category-section a.success.button.clear-button {
    background-color: #fbaf5d;
    box-shadow: 0px 5px 0px #f7941d; }
  section.category-section a.warning.button.delete-button {
    background-color: #d35e86;
    box-shadow: 0px 5px 0px #c62059; }
  section.category-section a.alert.button.save-button {
    background-color: #3e970e;
    box-shadow: 0px 5px 0px #007236; }
  section.category-section .button-group.buttongroup a {
    text-transform: capitalize;
    padding: 18px 42px;
    margin-left: 23px; }
.woocommerce-page #content {
    background-color: #27859D;
}
.sidebar-cta {
    display: none;
}
.inline-list > li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-left: 1.375rem;
}
.archive ul.products li.product, .archive ul.products li.product {
    background-color: #fff;
    float: left;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    width: 100%;
}
#float-back-to-top {
    bottom: 0;
    display: none;
    opacity: 0.8;
    position: fixed;
    right: 30px;
}


.imagesection #featured_upload input#image_upload {
  display: none;
}

.imagesection #featured_upload label.imglable {
  margin-top:5px;
  width:100%;
  height: 250px;
  background:url(../img/list-image.png) no-repeat;
  background-size:100% 100%;
}


.listing-detail #productTabsSection .ui-tabs-panel label {
  display: inline-block;
  font-size: 21px;
  color:#5b6872;
  width:140px;
  margin-right:10px;
}
.listing-detail #productTabsSection .ui-tabs-panel input {
        background: #fff;
        border:none;
        border-bottom: 6px solid #e0e0e0;
        width:160px !important;
        box-shadow: none;
}

.listing-detail #productTabsSection .ui-tabs-panel {
  background-color: #f5f7f6 !important;
  border:none !important;
}

.listing-detail ul.ui-tabs-nav {
    background: none !important;
    border: none !important;
    padding: 0px;
    width:100% !important;
}

.listing-detail ul.ui-tabs-nav li.ui-state-default.ui-state-active  {
  background-image: none !important;
    background-color: #F5F6F7 !important;
    border: none;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    outline: none;
    margin-right: 0px;
}

.listing-detail ul.ui-tabs-nav li.ui-state-default {
  background-color: #b7b8b7 !important;
  background-image: none !important;
  border:none;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  margin-right: 0px;
  outline:none;
}

.listing-detail ul.ui-tabs-nav li.ui-state-default a {
  outline: none;
}

.listing-detail ul.ui-tabs-nav li.ui-state-default:hover {
  outline: none;
}



.listing-detail #tabs {
    overflow: hidden;
    border: none !important;
}

#productBasic {
  padding: 0px;
}

.ui-widget table {
  font-size: 10px !important;
}

.ui-widget table td a.ui-state-default {
  text-align: center !important;
  border:none;
  padding: 8px 0px;
  background: #f6f7f9;
}

  .accordion.ui-accordion .ui-accordion-header {
    font-size: 22px;
    background:#c62059;
    border: none;
    outline: none;
    padding: 10px 35px;
    color:#fff
}

  .accordion.ui-accordion .ui-accordion-header:nth-child(even){
    background: #d94a7b;

  }

 .category-section #categoryDiv .accordion.ui-accordion .checked-category {
  font-size: 16px;
  background: #F5F7F6;
 }
 
.button-group.buttongroup  .btn {
  padding: 13px 10px;
  width:140px;
  font-size: 18px;
  border-bottom: 6px solid rgba(0, 0, 0, .3);
}
.yel {
  background-color: #fbaf5d;

}
.mar {
  background-color: #d35e86;

}
.gre {
  background-color: #3e970e;

}

.navy {
  background-color: #B7B8B7;
}

.listing-detail #tabs {
  width:100% !important;
}

#timePickerSpecial2 img {
  padding-left: 25px !important;
}

.sharepop {
  display: none;
}

.mhide {
  display: none !important ;
}


.reveal-modal.reveal input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    z-index: 999999999;
    width:19px;
    height: 19px;
    display: none;
}


.reveal-modal.reveal input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check-bg.png) left top no-repeat;
    cursor:pointer;
}

.reveal-modal.reveal input[type="checkbox"]:checked + label span {
    background:url(../images/check-bg-tick.png) left top no-repeat;
}

.ui-state-hover.ui-datepicker-prev {
  top:2px !important;
  left:2px !important;
  border:none !important;
  background: #fff !important;
}

.ui-state-hover.ui-datepicker-next {
  top:2px !important;
  right:2px !important;
  background: #fff !important;
  border: none !important;
}

.main.iframeform  .reveal-modal.login {
  padding: 0px;
}

.main.iframeform  .reveal-modal.login .button.icon {
  width:160px;
}

.main.iframeform  .reveal-modal.login .fa {
  margin-right: 10px;
}

.main.iframeform  .reveal-modal.login .social-signin {
  color:#AF1556;
  border-top:none;
  font-size: 20px;
}

.main.iframeform  .reveal-modal.login form input {
  text-align: center;
  font-size: 22px;
  height: 50px;
}

.main.iframeform  .reveal-modal.login form input#username {
  color:#0469ad;
}

.main.iframeform  .reveal-modal.login #username::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4277b6;
}
.main.iframeform  .reveal-modal.login #username:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4277b6;
   opacity:  1;
}
.main.iframeform  .reveal-modal.login #username::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4277b6;
   opacity:  1;
}
.main.iframeform  .reveal-modal.login #username:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4277b6;
}

.main.iframeform  .reveal-modal.login #password::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4277b6;
}
.main.iframeform  .reveal-modal.login #password:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4277b6;
   opacity:  1;
}
.main.iframeform  .reveal-modal.login #password::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4277b6;
   opacity:  1;
}
.main.iframeform  .reveal-modal.login #password:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4277b6;
}

.iframeemail {
  position: relative;
}

.iframeemail:before {
  content: "\f0e0";
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color:#4277b6;
  font-size: 26px;
  left:30px;
}


.iframepassword {
  position: relative;

}

.iframepassword:before{
  content: "\f023";
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color:#4277b6;
  font-size: 32px;
  left:30px;  
}

/*STyle-for-Carsoul*/

.iframeslide .slider-section .slider-divs .slick-list.draggable .slick-slide div {
  max-width: 263px;
  height: 202px;
  margin:15px auto !important ;
}

.iframeslide .slider-section .slider-divs .slick-list.draggable .slick-slide .items {
  max-width:263px !important;
  height: 202px !important;
  margin:0px !important;
  position: relative;
}
.iframeslide .slider-section .slider-divs .slick-list.draggable .slick-slide .items img {
  width:100%;
  height: 100%;
}


.iframeslide .slider-section .slider-divs .slick-list.draggable .slick-slide .items h4 {
    background: rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    position: absolute;
    width: 100%;
    font-size: 18px;
    padding: 5px 0px;
    display: none;
    transition: 1s all ease;
}

.iframeslide .slider-section .slider-divs .slick-list.draggable .slick-slide .items:hover h4 {
  -webkit-transform:translateY(-35px);
          transform:translateY(-35px);
  display: block;
  transition: 1s all ease;
}



/*7 jan 2016*/


@media screen and (min-width: 980px) {
/*start*/


input#yith-s {
    background: #f5f7f6 none repeat scroll 0 0;
    border: medium none;
    color: #b8b8b8;
    display: inline-block;
    font-size: 18px;
    height: 52px;
    width: 70%;
    max-width: 550px;
    border-bottom: 6px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 0px;
}
.autocomplete-suggestions {
    right: 136px;
}
  .event-detail #productTabsSection .ui-tabs-panel input {
  
    width: 470px !important;
   
}
.ui-jqgrid-titlebar span.ui-jqgrid-title {
    padding: 1em .2em 1em .3em !important;
    font-size: 16px !important;
}
.ui-jqgrid-titlebar.ui-jqgrid-caption.ui-widget-header.ui-corner-top.ui-helper-clearfix {
    padding: 1em .2em 1em .3em !important;
}
body .ui-jqgrid .ui-jqgrid-sortable {
      height: auto !important;
}
.ui-jqgrid .ui-jqgrid-sortable {
 
    height: auto !important;
}
td#pmatchingItemsGrid_left {
    width: 0 !important;
    padding: 0 !important;
}
table#matchingItemsGrid {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
    padding: 0 !important;
}
.ui-jqgrid .ui-jqgrid-bdiv {
   
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-htable {
      width: 100% !important;
}
.event-detail select#regionName {
    width: 470px !important;
}

.ui-jqgrid th#promotedListings_act {
    width: 60px !important;
}
th#NopromotedListings_act{
   width: 60px !important;

}
.ui-jqgrid th#promotedEvents_act {
    width: 60px !important;
}
th#NopromotedEvents_act{

    width: 60px !important;
}

.ui-jqgrid th#promotedListings_act {
    width: 60px !important;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    padding: 1em .2em 1em .3em !important;
       font-size: 16px !important;
}
body .ui-widget table {
    font-size: 14px !important;
}

/*end*/

}



@media screen and (min-width: 480px) and (max-width: 980px) {
#productButtons {
       padding-top: 0px !important;
}
section.category-section .button-group.buttongroup {
    float: none!important;
    margin: 0 auto;
    display: table;
    padding-bottom: 1.5em;
}

  .event-detail #productTabsSection .ui-tabs-panel input {
  
    width: 370px !important;
   
}

.event-detail select#regionName {
    width: 370px !important;
}

}
@media screen and (max-width: 480px) {
.content-area #login .modal-body form#login a img.sm-logo {
    width: 58px!important;
}

.vendor-search-map #inner-content {
    margin-top: 83px;
  }

.logged-out .reveal-overlay {
    
    overflow: auto;
}

.vendoraccount #inner-content {
  margin-top: 70px;
}

.vendoraccount #inner-content h2 {
  font-size: 26px;
}

.vendoraccount #inner-content .title h3 {
  font-size: 22px;
}

.logged-out .close-button {
    top: 13px !important;
}
.logged-out .reveal-modal .sm-logo {
    position: absolute;
    top: 21px;
    left: 12px;
    width: 55px;
}

.main .single_pro .zl-store-header-wrapper .product_title {
  font-size: 24px !important;
}

.main .single_pro .summary.entry-summary .soc_list {
  width:100%;
  text-align: center;
  margin-bottom: 10px;
}
.sm-logo {
      top: 1.5rem;
}
.logged-out .reveal-modal.login {
      width: 100% !important;
}
.logged-out .reveal-modal h3 {
    font-size: 20px !important;
 }
.reveal{
	z-index: 99999999 !important;
}
.reveal-overlay {
      z-index: 999999 !important;
   }

#inner-content a.close-button {
    top: 1rem !important;
}

.home #content {
    padding-top: 123px !important;
}
.archive #content {
    padding-top: 123px !important;
}
	.home a.close-button {
    top: 0!important;
}
	.reveal-modal .sm-logo {
    position: absolute;
    top: 41px;
    left: 30px;
    width: 55px;
}
.reveal-modal .close-reveal-modal {
      top: 2rem;
}
#productButtons {
       padding-top: 30px !important;
}

.event-detail #productTabsSection .ui-tabs-panel input {
    width: 100% !important;
        font-size: 14px;
}
.main .filter .zl-shop-head #category-filter-list a.button {
  color:#fff !important;
}


.event-detail select#regionName {
   width: 100% !important;
}

.listing-detail ul.ui-tabs-nav li.ui-state-default a {
    font-size: 15px;
}
body .logged-in div#content > div#inner-content.row {
    padding-top: 0rem !important;
}
.promoted-listing #inner-content .dashboard {
     padding-top: 0px!important;
         padding-bottom: 0 !important;
   
}
.main .global .top-search button .fa {
    float: none !important; 
    color: #fff !important;
        display: block;
}
.main .global .top-search button {
       line-height: 0px!important;

      color: #37a3bf !important;
}
.logged-in div#content > div#inner-content.row {
    padding-top: 0rem !important;
}
.imagesection #featured_upload label.imglable {
       margin-top: 5px;
    width: 210px !important;
    float: right;
    margin-bottom: 11px !important;
    height: 200px!important;
}
.ui-widget .ui-widget {
    font-size: 1em;
    overflow: auto;
}

.promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today a {
     max-width: 32px;
    margin: 0 auto;
}
.main .promoted-listing #inner-content .dashboard .left-side .button {
    margin-bottom: 2em;
}
section.category-section .button-group.buttongroup {
    float: none;
    width: 280px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2em;
}
.accordion.ui-accordion .ui-accordion-header {
    font-size: 18px;
   }
   div#myModal {
    top: 90px !important;
}
.main .reveal-modal.login form h3, .main .reveal-modal.signup form h3 {
    font-size: 18px  !important;
        position: relative;
    top: 8px;
}
.main .reveal-modal.login form .sm-logo, .main .reveal-modal.signup form .sm-logo {
    width: 58px !important;
    top: 0;

    }
   .main #categoriesModal.reveal-modal{
    top: 1px !important;
}
.main #categoriesModal.reveal-modal h3 {
        font-size: 17px  !important;
            width: 70%;
    margin: 0 auto;
}
.main #categoriesModal.reveal-modal .sm-logo {
       width: 55px!important;
    top: 30px;
   }
   .main #locationsModal.reveal-modal h3 {
      font-size: 17px;
          width: 70%;
    margin: 0 auto;
}
.main #locationsModal.reveal-modal .sm-logo {
    width: 55px;
    top: 30px;
}
.main #distanceModal.reveal-modal .sm-logo{
 width: 55px;
    top: 30px;

}
.close-button {
    top: 1.5rem;
 
}
.main #distanceModal.reveal-modal h3 {
    font-size: 17px;
    width: 70%;
    margin: 0 auto;
}
section.listingsection {
       margin-top: 60px;
}
section.category-section .edit-button {
    margin-top: 0;
}
section.category-section {
      margin-top: 2rem;
}
.comments-area {
    margin-top: 6rem;
}
#content {
    padding-top: 42px !important;
}
.page-id-1745 .close-button {
    top: 0.5rem;
}
section.vsignup {
    padding-top: 5em;
}
section.category-section .category-header h5 {
    font-size: 18px;
 }
 .store-info-container {
    margin-top: 3em;
}
.main.iframeform .reveal-modal.login form input {
    font-size: 17px !important;
   }
.iframeemail:before {

   display: none !important
}
.iframepassword:before{

     display: none !important
}

.iframeemail {
    width: 100% !important;
    padding: 0;
    max-width: 220px;
}
.iframepassword{
 width: 100% !important;
    padding: 0;
    max-width: 220px;

}
.iframetext p span {
    font-size: 14px !important;
    line-height: 17px;
}
.iframe-btn {
    max-width: 220px;
    width: 100% !important;
    padding: 0 !important;
    /* margin-right: 0 !important; */
}
.iframesocial {
    max-width: 220px;
    width: 159px;
    margin: 0 auto;
    display: block;
    padding: 0 ;
}
}
/*end 480px*/
@media screen (max-width: 323px) {


.main.iframeform .reveal-modal.login .social-signin {
    font-size: 15px !important;
    line-height: 18px;
}
}
@media screen and (min-width: 480px) and (max-width: 650px) {

.promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today a {
     max-width: 32px;
    margin: 0 auto;
}
.main #locationsModal.reveal-modal .sm-logo {
    width: 65px;
      top: 30px;
}
.main #distanceModal.reveal-modal .sm-logo{
width: 65px;
      top: 30px;

}
.promoted-listing #inner-content .dashboard {
    padding-top: 0;
    padding-bottom: 0;
  }
.close-button {
  
    top: 2rem;
  }
  .page-id-1745 .close-button {
    top: 0rem;
}
}
@media screen and (min-width: 650px) and (max-width: 800px) {
.ui-datepicker {
    width: 200px !important;
}
}


@media screen and (min-width: 480px) and (max-width: 640px) {

.imagesection #featured_upload label.imglable {
    margin-top: 5px;
    width: 310px !important;
        float: right ;
    margin-bottom: 11px !important;
}
   .main #categoriesModal.reveal-modal{
    top: 1px !important;
}
.main #categoriesModal.reveal-modal h3 {
    font-size: 18px!important;
}
}


.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    border-radius: 8px !important;
    padding-bottom: 6px !important;
    background: #F6F7F9;
 
}

.main .reveal-modal.login form .sm-logo, .main .reveal-modal.signup form .sm-logo {
    left: 0;
}
.category-section input[type="checkbox"] {
    margin-right: 4px;
}

.ui-datepicker {
    width: 290px !important;
}

.sm-logo {
    left: 20px;
    position: absolute;
}
.reveal-modal h3 {
    color: #0c60a7;
    font-size: 30px !important;
    text-align: center;
}

@media screen and (max-width: 980px) {

.content-area #login.modal.fade.in {
    height: 90% !important;
    background: transparent;
}
.content-area #login .modal-body form#login a img.sm-logo {
       left: 0!important;
    margin: 0!important;
}
.reveal {
    z-index: 99999999 !important;
}

.reveal-overlay {
    z-index: 999999 !important;
}
.modal.sign-in_popup .modal-body .cansl.btn {

    margin-bottom: 2em;
}

.content-area #login .modal-body {
    background: #e0e7ed !important;
    }
}

@media (max-width: 380px) {

  .vendoraccount  .bus-time .small-3 {
    width:15%;
  }

  .vendoraccount  .bus-time .small-4 {
    width: 37.33333%;
  }
  .vendoraccount  .bus-time .small-8 {
    width:60%;
  }

}

@media screen (max-width: 767px) {

.content-area #login.modal.fade.in {
    height: 60% !important;
}
.content-area #login .modal-body {
    background: #e0e7ed !important;
    }

body .content-area #login.modal.fade.in {
    height: 90% !important;
    background: transparent;
}

.vendoraccount #inner-content form.zl-register h3 {
  font-size: 26px;
  line-height: normal;
}

}
input#yith-searchsubmit {
       background: #37a3bf url("../images/search-icon.png") no-repeat scroll 15px center;
    border: medium none;
    color: #ffffff;
   font-size: 18px; 
    float: right;
    padding: 12px 30px 12px 19px;
    border-bottom: 6px solid #267e97;
    border-radius: 2px;
    text-align: right;
    width: 106px;
    height: 52px;
    margin-right: 0;
}

.yith-ajaxsearchform-container {
    float: right;
    margin: 0 !important;
    padding: 0;
    width: 100% !important;
    overflow: visible;
    clear: both;
    text-align: right;
    position: relative;
}

.autocomplete-suggestions {
    border:none;
    background: #F5F7F6;
    padding: 0px;
}

.autocomplete-suggestion {
  color:#0468ad;
  background: #F5F7F6;
  font-size: 14px;
}

.main .consumer_products ul.products .page-navigation {
  clear:both;
  background:#EBEBEB;
}

.main .consumer_products ul.products .page-navigation  .pagination {
  margin-bottom: 0px;
  padding: 5px;

}
.main .consumer_products ul.products .page-navigation  .pagination li {
    margin-right:10px;
}

.main .consumer_products ul.products .page-navigation  .pagination .current {
  padding: 2px;
  background:#C92059;

}
.main .consumer_products ul.products .page-navigation  .pagination .current  a {
  color:#fff;
}
.main .consumer_products ul.products .page-navigation  .pagination .current  a:hover {
  color:#fff;
  background:#C92059;
}


.main .global .top-search {
    overflow: visible;
    clear: both;
    text-align: right;
}

.main .global .container {
    overflow: visible;
    padding: 0 4%;
    max-width: 1400px;
    margin: 0px auto;
}
.main .global {
    padding: 35px 0px 0px;
    float: left;
    width: 100%;
    background: #fff;
    z-index: 999999;
    position: relative;
}
.main section.navigation-section {
    width: 100%;
    background-color: #ebebeb;
    margin-top: 50px;
    float: left;
}
.home.archive.post-type-archive.post-type-archive-product.logged-in.woocommerce.woocommerce-page {
    float: left;
    width: 100%;
}
.main {
    overflow: hidden;
}

.main .single_pro .woocommerce-tabs.wc-tabs-wrapper {
  display: none !important;
}


.main .single_pro .store-info-container {
  padding-bottom: 1.25rem !important;
} 


.woocommerce-edit-address .vendoraccount  label {
        color: #666;
        font-size: 18px;
        padding: 0px;
}

.woocommerce-edit-address .vendoraccount input , .woocommerce-edit-address .vendoraccount select {
          background: #f5f7f6 none repeat scroll 0 0;
          border: medium none;
          border-bottom: 6px solid #dfe0df;
          color: #0c60a7;
          margin-bottom: 0px;
}

.woocommerce-edit-address .vendoraccount input.button {
        padding: 13px 0px;
          font-size: 18px;
          width: 200px;
          border-bottom: 6px solid rgba(0,0,0,0.3);
          background-color:#2ba6cb;
          color:#fff;
}

.woocommerce-edit-address .vendoraccount input.button:hover {
            background: #258dad;
            color: #fff
}

.main .viewlisting .text p {
    margin-top: 10px;
}

.zl-product-info h3 a {
  font-family: 'HelveticaNeue-Light';
}

.zl-product-info .despara {
  font-family: 'HelveticaNeue-Light';
}

.vendor-vcard  span {
  font-family: 'HelveticaNeue-Light';
}

.zl-product-info .desctit {
  font-family: 'Helvetica';
}

.main .consumer_products span.price {
    font-family: 'HelveticaNeue-Bold';
    font-weight: bold;
}
.category-section .accordion input[type="radio"] {
    margin: 0 4px 8px 0;
}
.category-section .accordion {
    padding: 20px 0;
    overflow: hidden;
}
.buss {
    background: #37a3bf none repeat scroll 0 0!important;
    border-bottom: 6px solid #2f879e!important;
    border-top: 2px solid #37a3bf!important;
    color: #fff!important;
}
.main.iframeform .required {
 text-align: center;
 text-transform: capitalize;
}

.iframesocial .button i {
   margin: 0 13px 0 3px;
}
.reveal-modal a.button {
   color: #f2f2f2 ;
   padding: 0.7rem;
}
.reveal-modal.login input[type="submit"] {
 background: #267e96  none repeat scroll 0 0 !important;
 border: medium none;
 color: #fff;
 font-size: 20px;
 margin: 3px 0 10px;
 padding: 10px;
 width: 160px;
}
.reveal-modal.login form .button.icon.facebook, .main .reveal-modal.signup form .button.icon.facebook {
    background-color: #3b5998;
    border-bottom: 6px solid rgba(0,0,0,0.2);
}
.reveal-modal.login form .button.icon.twitter, .main .reveal-modal.signup form .button.icon.twitter {
    background-color: #00aced;
     border-bottom: 6px solid rgba(0,0,0,0.2);
}
.reveal-modal.login form .button.icon.google-plus, .main .reveal-modal.signup form .button.icon.google-plus {
    background-color: #dd4b39;
    border-bottom: 6px solid rgba(0,0,0,0.2);
}