.drawer
{
	width:100%;
	border-top:1px solid #E0E0E0;
	border-radius:3px;
}

.drawer:nth-child(even) .accordion-header {
	background:#d94a7b;
}

.accordion-item
{
	border-bottom:1px solid #E0E0E0;
}
.accordion-item-active .accordion-header
{
	background: #c62059;
    transition: .25s;
    padding: 10px;
}
.accordion-item-active .accordion-header-icon
{
	color:#fff;
}
.accordion-item-active .accordion-header h1
{
	color:#fff;
}
.accordion-header
{
	background:#c62059;;
	padding:10px;
	cursor:pointer;
	border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	min-height:40px;
	transition:.25s;
}
.accordion-header h1
{
	float:left;
	font-size:18px;
	font-weight: normal;
	margin:0;
	line-height: 1.3em;
	color:#fff;
}
.accordion-content
{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-top:1px solid #E0E0E0;
	display:none;
	padding:12px;
	color:#212121;
	background:#E0E6EB;
	font-size:15px;
	line-height:1.45em;
	color: #666766;
}
.accordion-content {
    padding: 10px 0px;
    display: none;
    border-bottom: 1px solid #e6e6e6;
}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;
	color:#fff;
	font-size: 15px;
	vertical-align: middle;
}

.accordion-header-icon.accordion-header-icon-active
{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	color:#fff;
}

.accordion-content ul.wsubcategs {
	margin-bottom: 0px;
}

.accordion-content ul.wsubcategs label {
	color:#666;
	margin-left:-15px;
}


.ui-accordion .ui-accordion-content-active {
	height: auto !important;
}

