// Responsive-design

@media (max-width:890px) {

	.nav-list .mhide {
		display: block !important;
	}

	.mainlogo{
		display: none !important;
	}
	.mobilelogo {
		display: block !important;
	}

	.main .global .top-btn {
		display: none;
	}

	.main section.navigation-section {
		display: none;
	}
	.main .global {
		position: fixed;
		width:100%;
		background: #fff;
		padding-bottom:6px;
		border-bottom: 1px solid #f5f6f7;
		z-index: 99999;
	}

	#content {
		padding-top:145px;
	}

	.promoted-listing #content {
		padding-top:0px !important;
	}

	section.listingsection {
		margin-top: 20px !important;
	}

	section.listingsection .user-detail.mobile-pe {
		margin-bottom:20px !important;
	}
}


@media (min-width:641px) and (max-width:890px) {

	.dashnotification {
		margin-top: 145px;
	}

	.mobilelogo {
		width:320px;
	}

	.main .global {
		padding-top:10px !important;
		padding-bottom: 8px !important;
		position:fixed !important;
	}

	.mean-container a.meanmenu-reveal {
		right:28px !important;
		top:22px  !important;
	}

	.main .global .top-search {
		margin-top: 90px;
	}

	.main section.navigation-section .row.nav-wrapper {
		padding-top:0px;
	}

	.main .viewlisting .listing-date .row {
		margin:0px;
	}

	.main .global .top-search button {
		padding:6px 22px;
		margin-bottom: 0px;
	}

	.main .global .top-search input.search {
		height: 36px;
		margin-bottom: 0px;
	}

	.main .footer .top ul li {
		font-size:15px;
		line-height: 20px;
	}

	.bottom-footer-left {
		width:100%;
		text-align: center;
	}

	.bottom-footer-right {
		width:100%;
		text-align: center;
	}

	.main .footer .top h1 {
		font-size: 20px;
	}

	.main .footer .top img {
		margin-left: 20px;
	}

	.main .footer .top ul li {
		font-size:15px;
		line-height: 20px;
		margin-bottom: 12px;
	}
}



@media (max-width:640px) {

	.dashnotification {
		margin-top: 124px;
	}
	.dashnotification p {
		font-size:16px;
		a {
			font-size:14px;
			line-height:16px;
		}
	}

	.main .consumer_products span.price {
		display: block;
		text-align: center;
	}
	.main .consumer_products ul.products .product .zl-product-info .soc-list li a img {
		width:34px;
	}

	#content {
		padding-top:120px;
	}

	.main .single_pro .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content.wc-tab h2 {
		line-height: 44px;
	}

	.mobilelogo {
		width:220px;
	}

	.main {
		.global {
			padding:15px 0px 6px !important;
			position:fixed !important;

			.top-search{
				margin-top: 60px;
				button {
					font-size: 14px;
	    			padding: 7.5px 8px;
	    			margin-bottom: 0px;
				}

				input {
					font-size:14px !important;
					height: 35px !important;
					margin-bottom: 0px;
				}
			}
		}
	

		.promoted-listing #inner-content .dashboard .right-side .leftmenu {
			text-align: center;
		}

		.filter {

			p.filterbuttons {

				.button {
					max-width: 150px;
					display: block;
					margin:5px auto;
				}
			}
		}

		//Style-for-single-product-page

		.single_pro {
			.product_title {
				margin-top: 1rem 0px;
				padding-top:10px;
			}
			.soc_list {
				width:100%;
				text-align: center;
				li {
					width:40px;
					img {
						width:30px !important;
					}
				}
			}

			.woocommerce-tabs.wc-tabs-wrapper .wc-tabs {
				margin-top: 0px;
			}

			.summary.entry-summary p.price {
				margin-bottom: 0px;
				span.amount {
					font-size:30px;
				}
			}
		}
		.product_rel {
			.main-price {
				text-align: center;
			}

			.soc-list inline-list {
				margin:0px auto;

			}
		}


		// Style-for listing-page

		.viewlisting {

			.listing-date {
				font-size:20px;

				.row {
					padding:0px;
					margin:0px;
				}

				span.left-date {
					font-size:17px;
				}
			}

			p {
				font-size:18px;
				line-height:20px;
			}
		}

		.soc-list.inline-list.right {
			text-align: center !important;
			margin:0px;
			width:100%;
		}

		.soc-list.inline-list.right li {
			width:36px;
			margin-left: 0px !important;
		}
		// .soc-list.inline-list.right li 


		.promoted-listing #inner-content .dashboard .left-side {

			.button {
				width:160px;
				font-size:16px;
				display: block;
				margin: 0px auto;
			}

			h4 {
				font-size:18px;
				margin-top: 10px;
			}

			label {
				font-size:16px;
				line-height: 20px;
				span {
					display: block;
				}
			}
		}


		.footer {

			.top {
				padding-top:20px;

				img {
					width:100px;
					display: block;
					margin:0px auto;
				}

				h1 {
					margin:15px 0px 5px;
				}

				ul li {
					margin:0px;
					font-size:15px;
				}
			}

			.bottom-footer {

				&-left p {
					font-size:14px;
					text-align: center;
					margin-top: 0px;
				}

				&-right {
					text-align: center;
					img {
						width:45px;
					}
				}
			}
		}
	}	
}

.ui-jqgrid .ui-jqgrid-hbox {
	padding-right:0px !important;
}

.ui-jqgrid-htable.ui-common-table .ui-jqgrid-labels {
	width:100% !important;			
	.ui-th-column.ui-th-ltr.ui-state-default {
		width:20% !important;
		white-space: normal;
		font-size: 14px ;
	}
}
.promoted-listing #inner-content .dashboard .left-side .ui-jqgrid tr.ui-row-ltr td {
	width:20% !important;
	white-space:normal;
	font-size:14px;
}

.ui-jqgrid .ui-jqgrid-btable {
	width:100% !important;
}

.ui-jqgrid .ui-jqgrid-htable {
	width:100% !important;
}

//style-for-mobile-user-details

.leftmenu.mobile-pmenu {
	text-align:center;
	margin-top:10px;

	.displayLabel {
	    color: #ab1f58;
	    font-weight: bold;
	}

	.user-info {
    	list-style-type: none;

		li {
		    color: #0468ad;
		    font-size: 16px;
		    line-height: 20px;
	   }

	 }
}