
// Style for Create-Product-Page
.main {

	// HEADER_STYLE

	.global {
		padding:35px 0px 0px;

		.container {
			overflow: hidden;
			padding:0 4%;
			max-width: 1400px;
			margin:0px auto;
		}

		.logo {

			img {
				max-width: 100%;
				position:absolute;
			}
		}
		
		.top-btn {
			overflow: hidden;
			margin-bottom: 40px;
			text-align: right;
			a {
			    display: inline-block;
			    width: 200px;
			    font-size: 24px;
			    margin-bottom: 10px;
			    padding: 4px 0px 5px;
			    text-align: center;
			    background: #ca4b76 none repeat scroll 0 0;
			    border-bottom: 6px solid #c62059;
			    border-top: 2px solid #ca4b76;
			    color: #fff;
			    margin-left: 10px;
			}

			a.join {
			    background: #ffffff none repeat scroll 0 0;
			    border: 2px solid #0468ad;
			    color: #0468ad;
			    padding:4px 0 9px;
			}
		}

		.top-search {
			overflow: hidden;
			clear:both;
			text-align:right;

			input.search{
			    background: #f5f7f6 none repeat scroll 0 0;
			    border: medium none;
			    color: #b8b8b8;
			    display: inline-block;
			    font-size: 18px;
			    height: 52px;
			    width: 70%;
			    max-width: 550px;
			    border-bottom: 6px solid #e0e0e0;
			    border-radius: 2px;
			}
			
			button {
				background: #37a3bf none repeat scroll 0 0;
			    border: medium none;
			    color: #ffffff;
			    font-size: 18px;
			    float: right;
			    padding: 14px 19px;
			    border-bottom: 6px solid #267e97;
			    border-radius: 2px;
			    width: 30%;
			    max-width: 136px;
			    margin-right: 0px;
			    .fa {
			    	float:left;
			    }
			}
		}
	}


	// STYLE-FOR-NAV----29's

	section.navigation-section {
	    width: 100%;
	    background-color: #ebebeb;
	    margin-top:20px;

	    .row.nav-wrapper {
	        padding: 23px 0px;
	    }

	    ul.nav-list {
	        list-style-type: none;
	        text-align: center;
	        width: 100%;
	        margin: 0px;
	        line-height: 18px;

	         li {
	            padding:0px 15px;
	            display: inline-block;
	            text-align: center;
	            line-height: 18px;
	            font-weight: bolder;


	            a {
	                font-size: 18px;
	                line-height: 18px;
	                text-transform: capitalize;
	                text-decoration: none;
	                color: #267e97;
	            }

	            &:first-child a {
	                color: #b65173;
	            }

	            &:nth-child(2) a {
	                color: #36a4bf;
	            }
	        }
	    }
	}





	// Style-for pop-up On Customer-dashboard


	.reveal-modal.login, .reveal-modal.signup {
		width: 90%;
	    max-width: 572px;
	    margin: 0px auto;
	    background: #e0e6eb;
	    padding: 35px;
	    box-sizing: border-box;
	    z-index: 999999;

	    form {
	    	position:relative;
	    	font-size: 14px;

			.sm-logo {
				width:80px;
				position:absolute;
			}

			.close-reveal-modal {
				position:absolute;
				right: 0px;
				font-size: 30px;
				border: 2px solid;
			    border-radius: 100%;
			    color: #969696;
			    padding: 0px 6px;
			    line-height: 1;
			}

			h3 {
				color:#0c60a7;
				text-align:center;
				font-size: 28px;
			}

			input {
				font-size: 14px;
				opacity: 1;

				&#username {
					background: #f5f7f6 none repeat scroll 0 0;
				    border: medium none;
				    color: #b8b8b8;
				    display: inline-block;
				    border-bottom: 6px solid #dfe0df;
				    color: #0c60a7;
				}

				&#password {
					background: #f5f7f6 none repeat scroll 0 0;
				    border: medium none;
				    color: #b8b8b8;
				    display: inline-block;
				    border-bottom: 6px solid #dfe0df;
				    color: #0c60a7;

				}
			}

			.forgetmenot {
			    font-size: small;
			    font-weight: 200;
			    color:#ca4b76;
			}
			
			.social-signin {
				display: block;
	    		border-top: 1px solid #cacaca;
	    	}

			.button {
				width:100px;
				background-color:#267e96;
				border-bottom:6px solid rgba(0, 0, 0, .2);
				&.icon {

					&.facebook {
				   		background-color: #3b5998;
					}

					&.twitter {
		    			background-color: #00aced;
		    			
					}		

					&.google-plus {
	    				background-color: #dd4b39;
	    				
					}
				}
				&.loginbutton {
	    			width:100%;
	    		}
			}

			.cancel-modal {
				width: 80px;
   				display: inline-block;
    			margin: 0px auto;
    			text-align: center;
    			color:#b41f50;
    			border-bottom: 5px solid rgba(0, 0, 0, .3);
			}
		}
	}
		

		// STYLE-FOR-CATEGORY-POP-UP



	#categoriesModal.reveal-modal {
		width: 90%;
	    margin: 0px auto;
	    background: #e0e6eb;
	    padding:35px;
	    box-sizing: border-box;
	    z-index: 999999;

	    .sm-logo {
			width:95px;
			position:absolute;
			left:24px;
			top:10px;
		}

			.close-reveal-modal {
				position:absolute;
				right: 0px;
				font-size: 30px;
				border: 2px solid;
			    border-radius: 100%;
			    color: #969696;
			    padding: 0px 6px;
			    line-height: 1;
			}

			h3 {
				color:#0468ad;
				text-align:center;
				font-size: 28px;
				.fa {
					margin-right:15px;
				}
			}

			hr {
				border-bottom-color:#258dad;
			}

			.cancelmodel {
				width: 140px;
   				display: inline-block;
    			margin: 5px auto 0px;
    			text-align: center;
    			color:#fff;
    			border-bottom: 5px solid rgba(0, 0, 0, .3);
			}

			label {
				color:#02364b;
				font-size:14px;
				line-height: 26px;
				margin-left: -20px;
				span {
					margin-top: -8px;
				}
			}	
	}



	// STYLE-FOR-LOCATION-POP-UP-----29's

	#locationsModal.reveal-modal {
		width: 90%;
	    margin: 0px auto;
	    background: #e0e6eb;
	    padding:35px;
	    box-sizing: border-box;
	    z-index: 999999;

	    .sm-logo {
			width:95px;
			position:absolute;
			left:24px;
			top:10px;
		}

			.close-reveal-modal {
				position:absolute;
				right: 0px;
				font-size: 30px;
				border: 2px solid;
			    border-radius: 100%;
			    color: #969696;
			    padding: 0px 6px;
			    line-height: 1;
			}

			h3 {
				color:#0468ad;
				text-align:center;
				font-size: 28px;
				.fa {
					margin-right:15px;
				}
			}

			label {
				color:#02364b;
				font-size:20px;
				line-height: 26px;
				margin-left: -24px;
			}

			hr {
				border-bottom-color:#258dad;
			}

			.cancelmodel {
				width: 140px;
   				display: inline-block;
    			margin: 5px auto 0px;
    			text-align: center;
    			color:#fff;
    			border-bottom: 5px solid rgba(0, 0, 0, .3);
			}
	
	}

	// STYLE-For-Share-pop-up 

	.reveal-modal.reveal.login.sharepopup {
		max-width: 800px;
		.button {
			width:200px;
		}

		hr {
			border-bottom-color: #258dad;
		}
		.fa {
			margin-right: 12px;
		}

		h5 {
			color:#0769ae;
			font-size: 18px;
		}

	}

		// STYLE-FOR-DISTANCE-POP-UP-----29

	#distanceModal.reveal-modal {
		width: 90%;
	    margin: 0px auto;
	    background: #e0e6eb;
	    padding:35px;
	    box-sizing: border-box;
	    z-index: 999999;

	    .sm-logo {
			width:95px;
			position:absolute;
			left:24px;
			top:10px;
		}

		.close-reveal-modal {
			position:absolute;
			right: 0px;
			font-size: 30px;
			border: 2px solid;
		    border-radius: 100%;
		    color: #969696;
		    padding: 0px 6px;
		    line-height: 1;
		}

		h3 {
			color:#0468ad;
			text-align:center;
			font-size: 28px;
			.fa {
				margin-right:15px;
			}
		}

		label {
			color:#02364b;
			font-size:20px;
			line-height: 26px;

		}

		hr {
			border-bottom-color:#258dad;
		}

		.cancelmodel {
			width: 140px;
			display: inline-block;
			margin: 5px auto 0px;
			text-align: center;
			color:#fff;
			border-bottom: 5px solid rgba(0, 0, 0, .3);
		}

		#current-location {
		    font-size: 14px;
		    color: #666;
		    padding: 0px;
		    text-indent: 10px;
		    height: 1.4rem;
		    width:160px;
		    margin-bottom: 0px;
		    margin-left: 18px;
		}

		#location-filter-details {

			p {
				color:#0c60a7;
				span {
					color:#c62059;
				}
			}

			.fa {
				margin-right:6px;
			}
		}
	}





	// Style-for-filter-div

	.filter {
		background-color: #3572b6;
		text-align:center;
		padding:10px 0px;

		.zl-shop-head {
			margin:0px auto !important;
			box-shadow:none;

			#category-filter-list {
				position: relative;
			    padding-left: 130px;
			    margin-top: 8px;
			    list-style-type: none;

			    li {
			    	display: inline-block;
			    	padding:0px 2px;
				    &:first-child::before {
						position:absolute;
						left:0;
						color:#fff;
				    }
				}
			}
		}

		span.zl-info {
			color:#fff;
		}

		.filterbuttons {
			text-align:center;

				.button {
					margin:0px;
					border-bottom: 5px solid rgba(0, 0, 0, .2) !important;
				}
		}

		ul.button-group {
			margin:0px;
		}
	}
	
	.woocommerce-result-count {
		color:#fff;
		display: block;
		text-align: center;
	}


	// Consumer-products-section-styling---29's
	
	.consumer_products {

		ul.products {
			list-style-type: none;
			overflow: hidden;

			.product {
				background-color:#fff;
				box-shadow:none;

				.image-div {
					padding:0 1rem 1rem 0;

					 img {
						width:100%;
						padding:0!important; 
					}
				}

				.zl-product-info {
					background:#fff;
					margin:0px;

					h3 a {
						color:#008DD2;
					}

					.despara {
						margin-bottom: 10px;
					}

					.desctit {
						font-size: 22px;
						color:#008DD2;
					}
					.soc-list {
						overflow: hidden;
						text-align:right;
						padding-top:8px;

						li {
							display: inline-block;
							float:none;
							margin-left: 10px;
							a img {
								width:40px;
								padding:0px;
							}
						}
					}
				}
			}

			.main-price.row {
				margin: 0px;
			}
		}

		span.price {
			display: inline-block;
		    font-size: 30px;
		    margin-top: 5px;
		    color: #C62059;
		}

	}




	// STYEL_FOR_VENDOR_SIGNUP------29's

	.vsignup {
		background:#36A4C0;

		#inner-content {
			background:#fff;

			.zl-shop-head {
				padding:10px 0px;
				display: none;

				.breadcrumbs {
					margin-bottom: 0px;
				}
			}

			#yith-vendor-registration {
				input {
					background: #f5f7f6 none repeat scroll 0 0;
					border: medium none;
					border-bottom: 6px solid #dfe0df;
					color: #0c60a7;
				}

				h2 {
					color:#0c60a7;
					border-bottom: 1px solid #DFE0DF;
    				margin-bottom: 15px;
				}

				label {
					color:#666;
					font-size:18px;
					padding:0px;
				}
				select {
					color:#A9A9A9;
				}
				
			}
			.zl-register {
				width: 80%;
    			margin: 0px auto;

				.form-row {
					.button {
						padding:13px 0px;
						font-size:18px;
						width:200px;
						border-bottom:6px solid rgba(0, 0, 0, .3);
					}
				}
			}
		}
	}


	// Style-Customer-products-page-top-section


	.viewlisting {
		background:#fff;
		padding:30px 0px;
		position:relative;

		.listing-date {
			color:#ca4b76;
			font-size: 36px;

			.ui-datepicker {
				position:absolute;
				max-width: 320px;
				z-index: 999;
			}

			.row {
				padding: 0px 30px;
			}

			.fa {
				margin-right: 12px;
			}

			span {
				color:#297fb9;
			}

			span.left-date {
				font-size:28px;
				color:#ca4b76;
			}
		}

		p {
			margin-bottom: 0px;
			font-size: 22px;
			text-align: center;
			color:#666;
		}
	}


	// Style for Single-product-page

	.single_pro {

		.store-info-container {
			padding-bottom:0px;
		}

		.zl-store-header-wrapper {
			border:none !important;
			padding:0px !important;

			.images {
				border-bottom:2px solid #27859D;
			}

			.product_title {
				color:#2B5061;
				font-size: 38px;
			}

		}

		.summary.entry-summary {
			padding: 0px 15px;
			background:#F5F7F6;

			.main_price {
				border-top:2px dotted #ccc;
			}

			.vendor-info > div:first-child {
				text-align: center;
			}

			.soc_list {
				list-style-type: none;
				text-align: right;
				margin:0px;

				li {
					display: inline-block;
					img {
						width:55px;
					}
				}
			}

			p.price span.amount {
				font-size:36px;
			}			
		}

		.woocommerce-tabs.wc-tabs-wrapper {
			background:#fff;
			padding:15px 20px;

			.wc-tabs {
				border:none;
				float:left;
				margin-right: 20px;
				margin-top: 12px;
				a {
					font-size:28px;
					color:#2B5061;

				}
			}
			.panel.entry-content.wc-tab {
				border:none;
				h2 a {
					font-size:24px;
					// padding:12px;
					// background:#ca4b76;
					// color:#fff;
				}
			}
		}
	}

	.like_pro {
		margin-top: 20px;
		.row {
			background:#fff;
		}
		h2 {
			margin:5px 0px !important;
			color:#2B5061;
			}
	}

	.product_rel {
		.consumer_products {
			.vendor-info > div:first-child {
				text-align: center;
			}
		}
	}


	// style-for vendor detail

	.vendor_details {

		.zl-store-header-wrapper.row {
			margin:0px auto;

			.store-image {
				max-width:300px;
			}
		}

		.current-listing-title h3 {
			color:#fff;
		}
	}


	
	// #content div.row.zl-shop-head padding {
	// 		text-align: center;
	// 	}


	// STYLE_FOR_FOOTER

	.footer{
		float: left;
		width: 100%;
		.top {
		    background: #425763 none repeat scroll 0 0;
		    padding: 49px 0;

		    h1 {
			    border-bottom: 6px solid #393e47;
			    color: #ffffff;
			    font-size: 24px;
			    margin: 0 0 25px;
			    padding: 0 0 13px;
			    position: relative;
			}

			ul {
			    list-style: outside none none;
			    margin: 0;
			    padding: 0;
			    li{
			    	color: #fff;
			    	font-size: 16px;
			    	margin: 0 0 15px 0;
			    	a{
			    		color: #fff;
			    	}
			    	a:hover{
			    		color: #fbb041;
			    		text-decoration: none;
			    	}
			    }
			}
			.about h1::before {
			    background: #36a4bf none repeat scroll 0 0;
			    bottom: -6px;
			    content: "";
			    display: block;
			    height: 6px;
			    position: absolute;
			    width: 60px;
			}
			.browse h1::before {
			    background: #c62059 none repeat scroll 0 0;
			    bottom: -6px;
			    content: "";
			    display: block;
			    height: 6px;
			    position: absolute;
			    width: 60px;
			}
			.help h1::before {
			    background: #f7e27b none repeat scroll 0 0;
			    bottom: -6px;
			    content: "";
			    display: block;
			    height: 6px;
			    position: absolute;
			    width: 60px;
			}

		}
		.bottom-footer {
		    background: #26282d none repeat scroll 0 0;
		    padding: 40px 0;
		    color: #fff;
		    span {
			    color: #fbb041;
			}

			&-left p {
				margin-top: 20px;
			}
			
			&-right {
				padding-left:0px;
			}
		}
	}
}



.sidebar-cta {
    display: none;
}




.inline-list > li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-left: 1.375rem;
}

.archive ul.products li.product, .archive ul.products li.product {
    background-color: #fff;
    float: left;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    width: 100%;
}

#float-back-to-top {
    bottom: 0;
    display: none;
    opacity: 0.8;
    position: fixed;
    right: 30px;
}



.dashnotification {
	background:#3572b6;
	color:#fff;
	font-size:14px;
	text-align:center;
	clear:both;
}

.dashnotification #creditsValue {
	color:#65d692;
}

.dashnotification p a {
	color:#fff;
	border-bottom:1px solid #fff;
	margin-left:24px;
	font-size:16px;
	line-height:20px;
}



// Style-For-promoted-listing-page

.promoted-listing {
	padding-bottom:40px;

	#inner-content {
		overflow:hidden;

		.dashboard {
			padding-top:35px;
			padding-bottom:40px;
			background:#fff;

			.left-side {

				.button {
					width:200px;
					padding:14px 10px;
					font-size: 20px;
					background:#00a651;
					border-bottom:6px solid rgba(0, 0, 0, .3);	
				}

				h4 {
					font-size: 20px;
					color:#0468ad;
				}

				label {
					font-size: 20px;
					color:#666;
					span {
						color:#ab1f58;
					}
				}
					
					// STYLE-FOR-DASHBOARD-TABLES

				.ui-jqgrid {
					margin-bottom: 15px;

					.ui-jqgrid-titlebar {
						display: none;
					}

					.ui-jqgrid-labels {
						font-size:16px;
						height:35px;
					}

					.ui-jqgrid-sortable {
						height: auto;
					}

					tr.ui-row-ltr td {
						font-size:15px;
						text-align: center;
						background:#F6F7F9;
					}

					.ui-jqgrid-pager .ui-pager-table {
						display: none;
					}

				}
			}
			.right-side {

				.leftmenu {
					text-align:right;
				}

				.displayLabel {
					color:#ab1f58;
					font-weight: bold;
				}

				.user-info {
					list-style-type: none;

					li {
						color:#0468ad;
						font-size: 16px;
						line-height: 20px;
					}
				}

				.ui-datepicker {
					width:100% !important;
					border:none !important;
					padding:0px;
					max-width:320px;
					margin:0px auto;

					td {
						padding:0px;
					}

					tbody {
						background:#f6f7f9;
						border:none;
					}

					.ui-datepicker-header {
						background:#f6f7f9 !important;
						border:none !important;
						border-radius: 10px 10px 0px 0px !important
					}

					.ui-datepicker-calendar {
						background:#f6f7f9 !important;
					}

					.ui-datepicker-title {
						color:#666;
						font-size: 15px;
					}

					.ui-datepicker-prev, .ui-datepicker-next {
						width:25px;
						height:25px;
					}

					.ui-datepicker-current-day.ui-datepicker-today a {
						background:#8bc249 !important;
						border-radius:100%;
						color:#fff;
						border:none !important;
					}
				}
			}
		}		
	}
}

.listing-detail.event-detail #listingDetailCont {
	label.displayLabel {
		width:175px;
	}
}



//Style-for date-picker 

.ui-datepicker {
    width:100%;
    border:none !important;
    padding:0px;
    max-width:320px;
    margin:0px auto;

    td {
      padding:0px;
    }

    tbody {
      background:#f6f7f9;
      border:none;
    }

    .ui-datepicker-header {
      background:#f6f7f9 !important;
      border:none !important;
      border-radius: 10px 10px 0px 0px !important
    }

    .ui-datepicker-calendar {
      background:#f6f7f9 !important;
    }

    .ui-datepicker-title {
      color:#666;
      font-size: 15px;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
      width:25px;
      height:25px;
      border-radius:100% !important;
    }

    .ui-datepicker-current-day.ui-datepicker-today a {
      background:#8bc249 !important;
      border-radius:100%;
      color:#fff;
      border:none !important;
    }
}

.reveal-modal.login {
    background: #e0e7ed none repeat scroll 0 0;
    margin: -14px auto;
    text-align: center;
    z-index: 9999999999;
	input[type="submit"]{
		background: #267e96 none repeat scroll 0 0 !important;
	    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
	    color: #fff;
	    font-size: 20px;
	    padding: 10px;
	    width: 160px;
	}
}
#join .modal-body iframe {
    box-shadow: 0 0 !important;
}
#join.sign-in_popup {
    margin: 0 auto;
    top: 100px;
    z-index: 999999;
}

 .footer{
 	.container{
 		.row{
 			max-width: 74.5rem;
 		}
 		.large-12{
 			.row{
 				max-width: inherit;
 			}
 		}
 	}
 }

body.iframe-j{
	background-color:#e0e7ed;
}

.main #content {
	clear:both;
}

// style-for se arch-vendor -page

.vendor-search-map {
	background:#36A4C0;

	#inner-content {
		background:#ebebeb;
	}

	.input-search {

	 	.partner-location {
			margin-left: 18px;
		}

		.Location-Show {
			list-style-type: none;
			margin-left: 35px;
		}
	}

	.panel {
		border:1px solid #fff;
	}
}


// style-for-My-account-page

.vendoraccount {
	background:#27859D;
	#inner-content {
		background:#fff;
		padding:30px 0px;

		h2 {
			font-size: 36px;
			border-bottom:1px solid #DFE0DF;
			padding-bottom:5px;
			color:#3572B6;
		}
		
			h3 {
				font-size: 26px;
				border-bottom:1px solid #DFE0DF;
				color:#3572B6;
				padding-bottom:5px;
			}

		form.zl-register {
			    width: 80%;
    			margin: 0px auto;
    			padding-top:0px;

    			&#shop-managers {
    				width:100%;
    			}

    			&#busineness-hours {
    				width: 100%;

    				label span {
    					font-size: 24px;
    					color:#3572B6;
    					border-bottom:1px solid #DFE0DF;
    					padding-bottom:5px;
    					line-height: 24px;
    					margin-bottom: 10px;
    					display: block;
    				}
    			}
			h3 {
				font-size: 36px;
				border-bottom:1px solid #DFE0DF;
				padding-bottom:5px;
				color:#3572B6;
			}
			label {
				color: #666;
			    font-size: 18px;
			    padding: 0px;
			}

			input , select {
					background: #f5f7f6 none repeat scroll 0 0;
					border: medium none;
					border-bottom: 6px solid #dfe0df;
					color: #0c60a7;
			}

			input.button {
				padding: 13px 0px;
			    font-size: 18px;
			    width: 200px;
			    border-bottom: 6px solid rgba(0,0,0,0.3);
			    background-color:#2ba6cb;
			    color:#fff;
			    &:hover {
				    background: #258dad;
				    color: #fff
			    }
			    &#save-hours {
				    width: auto;
				    padding: 13px 15px;

			    } 
			}

			#verify-map {
				.button {
					width:auto;
					padding:13px 15px;
					display: inline-block;
				    font-size: 18px;
				    border-bottom: 6px solid rgba(0, 0, 0, .3);
				}
			}

			&#featured_upload {
				input#my_image_upload {
					background: transparent;
    				border: none;
    				margin-bottom: 10px;
    				margin-top: 30px;
				}
				.small-8.columns {
    					padding-left:25%;
    				}
			}
		}

		.accordion-content ul.wsubcategs label {
			margin:0px;
		}

		.menu-categs-box {
			background:#EBEBEB;
			margin-bottom: 10px;
			.accordion {
				margin-bottom: 0px;
				.accordion-navigation a {
					display: block;
					padding:12px;
				}
			}
		}

		.row.zl-shop-head {
			display: none;
		}
	}
}


@import 'responsive';
