.main .global {
  padding: 35px 0px 0px; }
  .main .global .container {
    overflow: hidden;
    padding: 0 4%;
    max-width: 1400px;
    margin: 0px auto; }
  .main .global .logo img {
    max-width: 100%;
    position: absolute; }
  .main .global .top-btn {
    overflow: hidden;
    margin-bottom: 40px;
    text-align: right; }
    .main .global .top-btn a {
      display: inline-block;
      width: 200px;
      font-size: 24px;
      margin-bottom: 10px;
      padding: 4px 0px 5px;
      text-align: center;
      background: #ca4b76 none repeat scroll 0 0;
      border-bottom: 6px solid #c62059;
      border-top: 2px solid #ca4b76;
      color: #fff;
      margin-left: 10px; }
    .main .global .top-btn a.join {
      background: #ffffff none repeat scroll 0 0;
      border: 2px solid #0468ad;
      color: #0468ad;
      padding: 4px 0 9px; }
  .main .global .top-search {
    overflow: hidden;
    clear: both;
    text-align: right; }
    .main .global .top-search input.search {
      background: #f5f7f6 none repeat scroll 0 0;
      border: medium none;
      color: #b8b8b8;
      display: inline-block;
      font-size: 18px;
      height: 52px;
      width: 70%;
      max-width: 550px;
      border-bottom: 6px solid #e0e0e0;
      border-radius: 2px; }
    .main .global .top-search button {
      background: #37a3bf none repeat scroll 0 0;
      border: medium none;
      color: #ffffff;
      font-size: 18px;
      float: right;
      padding: 14px 19px;
      border-bottom: 6px solid #267e97;
      border-radius: 2px;
      width: 30%;
      max-width: 136px;
      margin-right: 0px; }
      .main .global .top-search button .fa {
        float: left; }
.main section.navigation-section {
  width: 100%;
  background-color: #ebebeb;
  margin-top: 20px; }
  .main section.navigation-section .row.nav-wrapper {
    padding: 23px 0px; }
  .main section.navigation-section ul.nav-list {
    list-style-type: none;
    text-align: center;
    width: 100%;
    margin: 0px;
    line-height: 18px; }
    .main section.navigation-section ul.nav-list li {
      padding: 0px 15px;
      display: inline-block;
      text-align: center;
      line-height: 18px;
      font-weight: bolder; }
      .main section.navigation-section ul.nav-list li a {
        font-size: 18px;
        line-height: 18px;
        text-transform: capitalize;
        text-decoration: none;
        color: #267e97; }
      .main section.navigation-section ul.nav-list li:first-child a {
        color: #b65173; }
      .main section.navigation-section ul.nav-list li:nth-child(2) a {
        color: #36a4bf; }
.main .reveal-modal.login, .main .reveal-modal.signup {
  width: 90%;
  max-width: 572px;
  margin: 0px auto;
  background: #e0e6eb;
  padding: 35px;
  box-sizing: border-box;
  z-index: 999999; }
  .main .reveal-modal.login form, .main .reveal-modal.signup form {
    position: relative;
    font-size: 14px; }
    .main .reveal-modal.login form .sm-logo, .main .reveal-modal.signup form .sm-logo {
      width: 80px;
      position: absolute; }
    .main .reveal-modal.login form .close-reveal-modal, .main .reveal-modal.signup form .close-reveal-modal {
      position: absolute;
      right: 0px;
      font-size: 30px;
      border: 2px solid;
      border-radius: 100%;
      color: #969696;
      padding: 0px 6px;
      line-height: 1; }
    .main .reveal-modal.login form h3, .main .reveal-modal.signup form h3 {
      color: #0c60a7;
      text-align: center;
      font-size: 28px; }
    .main .reveal-modal.login form input, .main .reveal-modal.signup form input {
      font-size: 14px;
      opacity: 1; }
      .main .reveal-modal.login form input#username, .main .reveal-modal.signup form input#username {
        background: #f5f7f6 none repeat scroll 0 0;
        border: medium none;
        color: #b8b8b8;
        display: inline-block;
        border-bottom: 6px solid #dfe0df;
        color: #0c60a7; }
      .main .reveal-modal.login form input#password, .main .reveal-modal.signup form input#password {
        background: #f5f7f6 none repeat scroll 0 0;
        border: medium none;
        color: #b8b8b8;
        display: inline-block;
        border-bottom: 6px solid #dfe0df;
        color: #0c60a7; }
    .main .reveal-modal.login form .forgetmenot, .main .reveal-modal.signup form .forgetmenot {
      font-size: small;
      font-weight: 200;
      color: #ca4b76; }
    .main .reveal-modal.login form .social-signin, .main .reveal-modal.signup form .social-signin {
      display: block;
      border-top: 1px solid #cacaca; }
    .main .reveal-modal.login form .button, .main .reveal-modal.signup form .button {
      width: 100px;
      background-color: #267e96;
      border-bottom: 6px solid rgba(0, 0, 0, 0.2); }
      .main .reveal-modal.login form .button.icon.facebook, .main .reveal-modal.signup form .button.icon.facebook {
        background-color: #3b5998; }
      .main .reveal-modal.login form .button.icon.twitter, .main .reveal-modal.signup form .button.icon.twitter {
        background-color: #00aced; }
      .main .reveal-modal.login form .button.icon.google-plus, .main .reveal-modal.signup form .button.icon.google-plus {
        background-color: #dd4b39; }
      .main .reveal-modal.login form .button.loginbutton, .main .reveal-modal.signup form .button.loginbutton {
        width: 100%; }
    .main .reveal-modal.login form .cancel-modal, .main .reveal-modal.signup form .cancel-modal {
      width: 80px;
      display: inline-block;
      margin: 0px auto;
      text-align: center;
      color: #b41f50;
      border-bottom: 5px solid rgba(0, 0, 0, 0.3); }
.main #categoriesModal.reveal-modal {
  width: 90%;
  margin: 0px auto;
  background: #e0e6eb;
  padding: 35px;
  box-sizing: border-box;
  z-index: 999999; }
  .main #categoriesModal.reveal-modal .sm-logo {
    width: 95px;
    position: absolute;
    left: 24px;
    top: 10px; }
  .main #categoriesModal.reveal-modal .close-reveal-modal {
    position: absolute;
    right: 0px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 100%;
    color: #969696;
    padding: 0px 6px;
    line-height: 1; }
  .main #categoriesModal.reveal-modal h3 {
    color: #0468ad;
    text-align: center;
    font-size: 28px; }
    .main #categoriesModal.reveal-modal h3 .fa {
      margin-right: 15px; }
  .main #categoriesModal.reveal-modal hr {
    border-bottom-color: #258dad; }
  .main #categoriesModal.reveal-modal .cancelmodel {
    width: 140px;
    display: inline-block;
    margin: 5px auto 0px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3); }
  .main #categoriesModal.reveal-modal label {
    color: #02364b;
    font-size: 14px;
    line-height: 26px;
    margin-left: -20px; }
    .main #categoriesModal.reveal-modal label span {
      margin-top: -8px; }
.main #locationsModal.reveal-modal {
  width: 90%;
  margin: 0px auto;
  background: #e0e6eb;
  padding: 35px;
  box-sizing: border-box;
  z-index: 999999; }
  .main #locationsModal.reveal-modal .sm-logo {
    width: 95px;
    position: absolute;
    left: 24px;
    top: 10px; }
  .main #locationsModal.reveal-modal .close-reveal-modal {
    position: absolute;
    right: 0px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 100%;
    color: #969696;
    padding: 0px 6px;
    line-height: 1; }
  .main #locationsModal.reveal-modal h3 {
    color: #0468ad;
    text-align: center;
    font-size: 28px; }
    .main #locationsModal.reveal-modal h3 .fa {
      margin-right: 15px; }
  .main #locationsModal.reveal-modal label {
    color: #02364b;
    font-size: 20px;
    line-height: 26px;
    margin-left: -24px; }
  .main #locationsModal.reveal-modal hr {
    border-bottom-color: #258dad; }
  .main #locationsModal.reveal-modal .cancelmodel {
    width: 140px;
    display: inline-block;
    margin: 5px auto 0px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3); }
.main .reveal-modal.reveal.login.sharepopup {
  max-width: 800px; }
  .main .reveal-modal.reveal.login.sharepopup .button {
    width: 200px; }
  .main .reveal-modal.reveal.login.sharepopup hr {
    border-bottom-color: #258dad; }
  .main .reveal-modal.reveal.login.sharepopup .fa {
    margin-right: 12px; }
  .main .reveal-modal.reveal.login.sharepopup h5 {
    color: #0769ae;
    font-size: 18px; }
.main #distanceModal.reveal-modal {
  width: 90%;
  margin: 0px auto;
  background: #e0e6eb;
  padding: 35px;
  box-sizing: border-box;
  z-index: 999999; }
  .main #distanceModal.reveal-modal .sm-logo {
    width: 95px;
    position: absolute;
    left: 24px;
    top: 10px; }
  .main #distanceModal.reveal-modal .close-reveal-modal {
    position: absolute;
    right: 0px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 100%;
    color: #969696;
    padding: 0px 6px;
    line-height: 1; }
  .main #distanceModal.reveal-modal h3 {
    color: #0468ad;
    text-align: center;
    font-size: 28px; }
    .main #distanceModal.reveal-modal h3 .fa {
      margin-right: 15px; }
  .main #distanceModal.reveal-modal label {
    color: #02364b;
    font-size: 20px;
    line-height: 26px; }
  .main #distanceModal.reveal-modal hr {
    border-bottom-color: #258dad; }
  .main #distanceModal.reveal-modal .cancelmodel {
    width: 140px;
    display: inline-block;
    margin: 5px auto 0px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3); }
  .main #distanceModal.reveal-modal #current-location {
    font-size: 14px;
    color: #666;
    padding: 0px;
    text-indent: 10px;
    height: 1.4rem;
    width: 160px;
    margin-bottom: 0px;
    margin-left: 18px; }
  .main #distanceModal.reveal-modal #location-filter-details p {
    color: #0c60a7; }
    .main #distanceModal.reveal-modal #location-filter-details p span {
      color: #c62059; }
  .main #distanceModal.reveal-modal #location-filter-details .fa {
    margin-right: 6px; }
.main .filter {
  background-color: #3572b6;
  text-align: center;
  padding: 10px 0px; }
  .main .filter .zl-shop-head {
    margin: 0px auto !important;
    box-shadow: none; }
    .main .filter .zl-shop-head #category-filter-list {
      position: relative;
      padding-left: 130px;
      margin-top: 8px;
      list-style-type: none; }
      .main .filter .zl-shop-head #category-filter-list li {
        display: inline-block;
        padding: 0px 2px; }
        .main .filter .zl-shop-head #category-filter-list li:first-child::before {
          position: absolute;
          left: 0;
          color: #fff; }
  .main .filter span.zl-info {
    color: #fff; }
  .main .filter .filterbuttons {
    text-align: center; }
    .main .filter .filterbuttons .button {
      margin: 0px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.2) !important; }
  .main .filter ul.button-group {
    margin: 0px; }
.main .woocommerce-result-count {
  color: #fff;
  display: block;
  text-align: center; }
.main .consumer_products ul.products {
  list-style-type: none;
  overflow: hidden; }
  .main .consumer_products ul.products .product {
    background-color: #fff;
    box-shadow: none; }
    .main .consumer_products ul.products .product .image-div {
      padding: 0 1rem 1rem 0; }
      .main .consumer_products ul.products .product .image-div img {
        width: 100%;
        padding: 0 !important; }
    .main .consumer_products ul.products .product .zl-product-info {
      background: #fff;
      margin: 0px; }
      .main .consumer_products ul.products .product .zl-product-info h3 a {
        color: #008DD2; }
      .main .consumer_products ul.products .product .zl-product-info .despara {
        margin-bottom: 10px; }
      .main .consumer_products ul.products .product .zl-product-info .desctit {
        font-size: 22px;
        color: #008DD2; }
      .main .consumer_products ul.products .product .zl-product-info .soc-list {
        overflow: hidden;
        text-align: right;
        padding-top: 8px; }
        .main .consumer_products ul.products .product .zl-product-info .soc-list li {
          display: inline-block;
          float: none;
          margin-left: 10px; }
          .main .consumer_products ul.products .product .zl-product-info .soc-list li a img {
            width: 40px;
            padding: 0px; }
  .main .consumer_products ul.products .main-price.row {
    margin: 0px; }
.main .consumer_products span.price {
  display: inline-block;
  font-size: 30px;
  margin-top: 5px;
  color: #C62059; }
.main .vsignup {
  background: #36A4C0; }
  .main .vsignup #inner-content {
    background: #fff; }
    .main .vsignup #inner-content .zl-shop-head {
      padding: 10px 0px;
      display: none; }
      .main .vsignup #inner-content .zl-shop-head .breadcrumbs {
        margin-bottom: 0px; }
    .main .vsignup #inner-content #yith-vendor-registration input {
      background: #f5f7f6 none repeat scroll 0 0;
      border: medium none;
      border-bottom: 6px solid #dfe0df;
      color: #0c60a7; }
    .main .vsignup #inner-content #yith-vendor-registration h2 {
      color: #0c60a7;
      border-bottom: 1px solid #DFE0DF;
      margin-bottom: 15px; }
    .main .vsignup #inner-content #yith-vendor-registration label {
      color: #666;
      font-size: 18px;
      padding: 0px; }
    .main .vsignup #inner-content #yith-vendor-registration select {
      color: #A9A9A9; }
    .main .vsignup #inner-content .zl-register {
      width: 80%;
      margin: 0px auto; }
      .main .vsignup #inner-content .zl-register .form-row .button {
        padding: 13px 0px;
        font-size: 18px;
        width: 200px;
        border-bottom: 6px solid rgba(0, 0, 0, 0.3); }
.main .viewlisting {
  background: #fff;
  padding: 30px 0px;
  position: relative; }
  .main .viewlisting .listing-date {
    color: #ca4b76;
    font-size: 36px; }
    .main .viewlisting .listing-date .ui-datepicker {
      position: absolute;
      max-width: 320px;
      z-index: 999; }
    .main .viewlisting .listing-date .row {
      padding: 0px 30px; }
    .main .viewlisting .listing-date .fa {
      margin-right: 12px; }
    .main .viewlisting .listing-date span {
      color: #297fb9; }
    .main .viewlisting .listing-date span.left-date {
      font-size: 28px;
      color: #ca4b76; }
  .main .viewlisting p {
    margin-bottom: 0px;
    font-size: 22px;
    text-align: center;
    color: #666; }
.main .single_pro .store-info-container {
  padding-bottom: 0px; }
.main .single_pro .zl-store-header-wrapper {
  border: none !important;
  padding: 0px !important; }
  .main .single_pro .zl-store-header-wrapper .images {
    border-bottom: 2px solid #27859D; }
  .main .single_pro .zl-store-header-wrapper .product_title {
    color: #2B5061;
    font-size: 38px; }
.main .single_pro .summary.entry-summary {
  padding: 0px 15px;
  background: #F5F7F6; }
  .main .single_pro .summary.entry-summary .main_price {
    border-top: 2px dotted #ccc; }
  .main .single_pro .summary.entry-summary .vendor-info > div:first-child {
    text-align: center; }
  .main .single_pro .summary.entry-summary .soc_list {
    list-style-type: none;
    text-align: right;
    margin: 0px; }
    .main .single_pro .summary.entry-summary .soc_list li {
      display: inline-block; }
      .main .single_pro .summary.entry-summary .soc_list li img {
        width: 55px; }
  .main .single_pro .summary.entry-summary p.price span.amount {
    font-size: 36px; }
.main .single_pro .woocommerce-tabs.wc-tabs-wrapper {
  background: #fff;
  padding: 15px 20px; }
  .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .wc-tabs {
    border: none;
    float: left;
    margin-right: 20px;
    margin-top: 12px; }
    .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .wc-tabs a {
      font-size: 28px;
      color: #2B5061; }
  .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content.wc-tab {
    border: none; }
    .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content.wc-tab h2 a {
      font-size: 24px; }
.main .like_pro {
  margin-top: 20px; }
  .main .like_pro .row {
    background: #fff; }
  .main .like_pro h2 {
    margin: 5px 0px !important;
    color: #2B5061; }
.main .product_rel .consumer_products .vendor-info > div:first-child {
  text-align: center; }
.main .vendor_details .zl-store-header-wrapper.row {
  margin: 0px auto; }
  .main .vendor_details .zl-store-header-wrapper.row .store-image {
    max-width: 300px; }
.main .vendor_details .current-listing-title h3 {
  color: #fff; }
.main .footer {
  float: left;
  width: 100%; }
  .main .footer .top {
    background: #425763 none repeat scroll 0 0;
    padding: 49px 0; }
    .main .footer .top h1 {
      border-bottom: 6px solid #393e47;
      color: #ffffff;
      font-size: 24px;
      margin: 0 0 25px;
      padding: 0 0 13px;
      position: relative; }
    .main .footer .top ul {
      list-style: outside none none;
      margin: 0;
      padding: 0; }
      .main .footer .top ul li {
        color: #fff;
        font-size: 16px;
        margin: 0 0 15px 0; }
        .main .footer .top ul li a {
          color: #fff; }
        .main .footer .top ul li a:hover {
          color: #fbb041;
          text-decoration: none; }
    .main .footer .top .about h1::before {
      background: #36a4bf none repeat scroll 0 0;
      bottom: -6px;
      content: "";
      display: block;
      height: 6px;
      position: absolute;
      width: 60px; }
    .main .footer .top .browse h1::before {
      background: #c62059 none repeat scroll 0 0;
      bottom: -6px;
      content: "";
      display: block;
      height: 6px;
      position: absolute;
      width: 60px; }
    .main .footer .top .help h1::before {
      background: #f7e27b none repeat scroll 0 0;
      bottom: -6px;
      content: "";
      display: block;
      height: 6px;
      position: absolute;
      width: 60px; }
  .main .footer .bottom-footer {
    background: #26282d none repeat scroll 0 0;
    padding: 40px 0;
    color: #fff; }
    .main .footer .bottom-footer span {
      color: #fbb041; }
    .main .footer .bottom-footer-left p {
      margin-top: 20px; }
    .main .footer .bottom-footer-right {
      padding-left: 0px; }

.sidebar-cta {
  display: none; }

.inline-list > li {
  display: block;
  float: left;
  list-style: outside none none;
  margin-left: 1.375rem; }

.archive ul.products li.product, .archive ul.products li.product {
  background-color: #fff;
  float: left;
  margin: 0 0 20px;
  padding: 20px;
  position: relative;
  width: 100%; }

#float-back-to-top {
  bottom: 0;
  display: none;
  opacity: 0.8;
  position: fixed;
  right: 30px; }

.dashnotification {
  background: #3572b6;
  color: #fff;
  font-size: 14px;
  text-align: center;
  clear: both; }

.dashnotification #creditsValue {
  color: #65d692; }

.dashnotification p a {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-left: 24px;
  font-size: 16px;
  line-height: 20px; }

.promoted-listing {
  padding-bottom: 40px; }
  .promoted-listing #inner-content {
    overflow: hidden; }
    .promoted-listing #inner-content .dashboard {
      padding-top: 35px;
      padding-bottom: 40px;
      background: #fff; }
      .promoted-listing #inner-content .dashboard .left-side .button {
        width: 200px;
        padding: 14px 10px;
        font-size: 20px;
        background: #00a651;
        border-bottom: 6px solid rgba(0, 0, 0, 0.3); }
      .promoted-listing #inner-content .dashboard .left-side h4 {
        font-size: 20px;
        color: #0468ad; }
      .promoted-listing #inner-content .dashboard .left-side label {
        font-size: 20px;
        color: #666; }
        .promoted-listing #inner-content .dashboard .left-side label span {
          color: #ab1f58; }
      .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid {
        margin-bottom: 15px; }
        .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid .ui-jqgrid-titlebar {
          display: none; }
        .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid .ui-jqgrid-labels {
          font-size: 16px;
          height: 35px; }
        .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid .ui-jqgrid-sortable {
          height: auto; }
        .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid tr.ui-row-ltr td {
          font-size: 15px;
          text-align: center;
          background: #F6F7F9; }
        .promoted-listing #inner-content .dashboard .left-side .ui-jqgrid .ui-jqgrid-pager .ui-pager-table {
          display: none; }
      .promoted-listing #inner-content .dashboard .right-side .leftmenu {
        text-align: right; }
      .promoted-listing #inner-content .dashboard .right-side .displayLabel {
        color: #ab1f58;
        font-weight: bold; }
      .promoted-listing #inner-content .dashboard .right-side .user-info {
        list-style-type: none; }
        .promoted-listing #inner-content .dashboard .right-side .user-info li {
          color: #0468ad;
          font-size: 16px;
          line-height: 20px; }
      .promoted-listing #inner-content .dashboard .right-side .ui-datepicker {
        width: 100% !important;
        border: none !important;
        padding: 0px;
        max-width: 320px;
        margin: 0px auto; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker td {
          padding: 0px; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker tbody {
          background: #f6f7f9;
          border: none; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-header {
          background: #f6f7f9 !important;
          border: none !important;
          border-radius: 10px 10px 0px 0px !important; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-calendar {
          background: #f6f7f9 !important; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-title {
          color: #666;
          font-size: 15px; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-prev, .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-next {
          width: 25px;
          height: 25px; }
        .promoted-listing #inner-content .dashboard .right-side .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today a {
          background: #8bc249 !important;
          border-radius: 100%;
          color: #fff;
          border: none !important; }

.listing-detail.event-detail #listingDetailCont label.displayLabel {
  width: 175px; }

.ui-datepicker {
  width: 100%;
  border: none !important;
  padding: 0px;
  max-width: 320px;
  margin: 0px auto; }
  .ui-datepicker td {
    padding: 0px; }
  .ui-datepicker tbody {
    background: #f6f7f9;
    border: none; }
  .ui-datepicker .ui-datepicker-header {
    background: #f6f7f9 !important;
    border: none !important;
    border-radius: 10px 10px 0px 0px !important; }
  .ui-datepicker .ui-datepicker-calendar {
    background: #f6f7f9 !important; }
  .ui-datepicker .ui-datepicker-title {
    color: #666;
    font-size: 15px; }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 25px;
    height: 25px;
    border-radius: 100% !important; }
  .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today a {
    background: #8bc249 !important;
    border-radius: 100%;
    color: #fff;
    border: none !important; }

.reveal-modal.login {
  background: #e0e7ed none repeat scroll 0 0;
  margin: -14px auto;
  text-align: center;
  z-index: 9999999999; }
  .reveal-modal.login input[type="submit"] {
    background: #267e96 none repeat scroll 0 0 !important;
    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    width: 160px; }

#join .modal-body iframe {
  box-shadow: 0 0 !important; }

#join.sign-in_popup {
  margin: 0 auto;
  top: 100px;
  z-index: 999999; }

.footer .container .row {
  max-width: 74.5rem; }
.footer .container .large-12 .row {
  max-width: inherit; }

body.iframe-j {
  background-color: #e0e7ed; }

.main #content {
  clear: both; }

.vendor-search-map {
  background: #36A4C0; }
  .vendor-search-map #inner-content {
    background: #ebebeb; }
  .vendor-search-map .input-search .partner-location {
    margin-left: 18px; }
  .vendor-search-map .input-search .Location-Show {
    list-style-type: none;
    margin-left: 35px; }
  .vendor-search-map .panel {
    border: 1px solid #fff; }

.vendoraccount {
  background: #27859D; }
  .vendoraccount #inner-content {
    background: #fff;
    padding: 30px 0px; }
    .vendoraccount #inner-content h2 {
      font-size: 36px;
      border-bottom: 1px solid #DFE0DF;
      padding-bottom: 5px;
      color: #3572B6; }
    .vendoraccount #inner-content h3 {
      font-size: 26px;
      border-bottom: 1px solid #DFE0DF;
      color: #3572B6;
      padding-bottom: 5px; }
    .vendoraccount #inner-content form.zl-register {
      width: 80%;
      margin: 0px auto;
      padding-top: 0px; }
      .vendoraccount #inner-content form.zl-register#shop-managers {
        width: 100%; }
      .vendoraccount #inner-content form.zl-register#busineness-hours {
        width: 100%; }
        .vendoraccount #inner-content form.zl-register#busineness-hours label span {
          font-size: 24px;
          color: #3572B6;
          border-bottom: 1px solid #DFE0DF;
          padding-bottom: 5px;
          line-height: 24px;
          margin-bottom: 10px;
          display: block; }
      .vendoraccount #inner-content form.zl-register h3 {
        font-size: 36px;
        border-bottom: 1px solid #DFE0DF;
        padding-bottom: 5px;
        color: #3572B6; }
      .vendoraccount #inner-content form.zl-register label {
        color: #666;
        font-size: 18px;
        padding: 0px; }
      .vendoraccount #inner-content form.zl-register input, .vendoraccount #inner-content form.zl-register select {
        background: #f5f7f6 none repeat scroll 0 0;
        border: medium none;
        border-bottom: 6px solid #dfe0df;
        color: #0c60a7; }
      .vendoraccount #inner-content form.zl-register input.button {
        padding: 13px 0px;
        font-size: 18px;
        width: 200px;
        border-bottom: 6px solid rgba(0, 0, 0, 0.3);
        background-color: #2ba6cb;
        color: #fff; }
        .vendoraccount #inner-content form.zl-register input.button:hover {
          background: #258dad;
          color: #fff; }
        .vendoraccount #inner-content form.zl-register input.button#save-hours {
          width: auto;
          padding: 13px 15px; }
      .vendoraccount #inner-content form.zl-register #verify-map .button {
        width: auto;
        padding: 13px 15px;
        display: inline-block;
        font-size: 18px;
        border-bottom: 6px solid rgba(0, 0, 0, 0.3); }
      .vendoraccount #inner-content form.zl-register#featured_upload input#my_image_upload {
        background: transparent;
        border: none;
        margin-bottom: 10px;
        margin-top: 30px; }
      .vendoraccount #inner-content form.zl-register#featured_upload .small-8.columns {
        padding-left: 25%; }
    .vendoraccount #inner-content .accordion-content ul.wsubcategs label {
      margin: 0px; }
    .vendoraccount #inner-content .menu-categs-box {
      background: #EBEBEB;
      margin-bottom: 10px; }
      .vendoraccount #inner-content .menu-categs-box .accordion {
        margin-bottom: 0px; }
        .vendoraccount #inner-content .menu-categs-box .accordion .accordion-navigation a {
          display: block;
          padding: 12px; }
    .vendoraccount #inner-content .row.zl-shop-head {
      display: none; }

@media (max-width: 890px) {
  .nav-list .mhide {
    display: block !important; }

  .mainlogo {
    display: none !important; }

  .mobilelogo {
    display: block !important; }

  .main .global .top-btn {
    display: none; }

  .main section.navigation-section {
    display: none; }

  .main .global {
    position: fixed;
    width: 100%;
    background: #fff;
    padding-bottom: 6px;
    border-bottom: 1px solid #f5f6f7;
    z-index: 99999; }

  #content {
    padding-top: 145px; }

  .promoted-listing #content {
    padding-top: 0px !important; }

  section.listingsection {
    margin-top: 20px !important; }

  section.listingsection .user-detail.mobile-pe {
    margin-bottom: 20px !important; } }
@media (min-width: 641px) and (max-width: 890px) {
  .dashnotification {
    margin-top: 145px; }

  .mobilelogo {
    width: 320px; }

  .main .global {
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    position: fixed !important; }

  .mean-container a.meanmenu-reveal {
    right: 28px !important;
    top: 22px  !important; }

  .main .global .top-search {
    margin-top: 90px; }

  .main section.navigation-section .row.nav-wrapper {
    padding-top: 0px; }

  .main .viewlisting .listing-date .row {
    margin: 0px; }

  .main .global .top-search button {
    padding: 6px 22px;
    margin-bottom: 0px; }

  .main .global .top-search input.search {
    height: 36px;
    margin-bottom: 0px; }

  .main .footer .top ul li {
    font-size: 15px;
    line-height: 20px; }

  .bottom-footer-left {
    width: 100%;
    text-align: center; }

  .bottom-footer-right {
    width: 100%;
    text-align: center; }

  .main .footer .top h1 {
    font-size: 20px; }

  .main .footer .top img {
    margin-left: 20px; }

  .main .footer .top ul li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 12px; } }
@media (max-width: 640px) {
  .dashnotification {
    margin-top: 124px; }

  .dashnotification p {
    font-size: 16px; }
    .dashnotification p a {
      font-size: 14px;
      line-height: 16px; }

  .main .consumer_products span.price {
    display: block;
    text-align: center; }

  .main .consumer_products ul.products .product .zl-product-info .soc-list li a img {
    width: 34px; }

  #content {
    padding-top: 120px; }

  .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content.wc-tab h2 {
    line-height: 44px; }

  .mobilelogo {
    width: 220px; }

  .main .global {
    padding: 15px 0px 6px !important;
    position: fixed !important; }
    .main .global .top-search {
      margin-top: 60px; }
      .main .global .top-search button {
        font-size: 14px;
        padding: 7.5px 8px;
        margin-bottom: 0px; }
      .main .global .top-search input {
        font-size: 14px !important;
        height: 35px !important;
        margin-bottom: 0px; }
  .main .promoted-listing #inner-content .dashboard .right-side .leftmenu {
    text-align: center; }
  .main .filter p.filterbuttons .button {
    max-width: 150px;
    display: block;
    margin: 5px auto; }
  .main .single_pro .product_title {
    margin-top: 1rem 0px;
    padding-top: 10px; }
  .main .single_pro .soc_list {
    width: 100%;
    text-align: center; }
    .main .single_pro .soc_list li {
      width: 40px; }
      .main .single_pro .soc_list li img {
        width: 30px !important; }
  .main .single_pro .woocommerce-tabs.wc-tabs-wrapper .wc-tabs {
    margin-top: 0px; }
  .main .single_pro .summary.entry-summary p.price {
    margin-bottom: 0px; }
    .main .single_pro .summary.entry-summary p.price span.amount {
      font-size: 30px; }
  .main .product_rel .main-price {
    text-align: center; }
  .main .product_rel .soc-list inline-list {
    margin: 0px auto; }
  .main .viewlisting .listing-date {
    font-size: 20px; }
    .main .viewlisting .listing-date .row {
      padding: 0px;
      margin: 0px; }
    .main .viewlisting .listing-date span.left-date {
      font-size: 17px; }
  .main .viewlisting p {
    font-size: 18px;
    line-height: 20px; }
  .main .soc-list.inline-list.right {
    text-align: center !important;
    margin: 0px;
    width: 100%; }
  .main .soc-list.inline-list.right li {
    width: 36px;
    margin-left: 0px !important; }
  .main .promoted-listing #inner-content .dashboard .left-side .button {
    width: 160px;
    font-size: 16px;
    display: block;
    margin: 0px auto; }
  .main .promoted-listing #inner-content .dashboard .left-side h4 {
    font-size: 18px;
    margin-top: 10px; }
  .main .promoted-listing #inner-content .dashboard .left-side label {
    font-size: 16px;
    line-height: 20px; }
    .main .promoted-listing #inner-content .dashboard .left-side label span {
      display: block; }
  .main .footer .top {
    padding-top: 20px; }
    .main .footer .top img {
      width: 100px;
      display: block;
      margin: 0px auto; }
    .main .footer .top h1 {
      margin: 15px 0px 5px; }
    .main .footer .top ul li {
      margin: 0px;
      font-size: 15px; }
  .main .footer .bottom-footer-left p {
    font-size: 14px;
    text-align: center;
    margin-top: 0px; }
  .main .footer .bottom-footer-right {
    text-align: center; }
    .main .footer .bottom-footer-right img {
      width: 45px; } }
.ui-jqgrid .ui-jqgrid-hbox {
  padding-right: 0px !important; }

.ui-jqgrid-htable.ui-common-table .ui-jqgrid-labels {
  width: 100% !important; }
  .ui-jqgrid-htable.ui-common-table .ui-jqgrid-labels .ui-th-column.ui-th-ltr.ui-state-default {
    width: 20% !important;
    white-space: normal;
    font-size: 14px; }

.promoted-listing #inner-content .dashboard .left-side .ui-jqgrid tr.ui-row-ltr td {
  width: 20% !important;
  white-space: normal;
  font-size: 14px; }

.ui-jqgrid .ui-jqgrid-btable {
  width: 100% !important; }

.ui-jqgrid .ui-jqgrid-htable {
  width: 100% !important; }

.leftmenu.mobile-pmenu {
  text-align: center;
  margin-top: 10px; }
  .leftmenu.mobile-pmenu .displayLabel {
    color: #ab1f58;
    font-weight: bold; }
  .leftmenu.mobile-pmenu .user-info {
    list-style-type: none; }
    .leftmenu.mobile-pmenu .user-info li {
      color: #0468ad;
      font-size: 16px;
      line-height: 20px; }

/*# sourceMappingURL=listing.css.map */
