/*hiding ugly title based on page name*/
.article-header{display: none; color:#F1F1F1; }

/*div alignments*/
.centerDivCont {
    margin: auto;
    width: 80%;
    /* border:3px solid #8AC007;*/
    padding: 10px;
}

.rightDivCont {
    position: absolute;
    right: 15px;
    width: 25%;
    /*border:3px solid #8AC007;*/
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
}

.leftDivCont {
    float: left;
    width: 70%;
    /*border:3px solid #8AC007;*/
    padding: 10px;
    padding-top:20px;
    border-radius: 15px;
}

.divWhiteBackground{
    background-color: #FFFFFF;
}

/*Grid buttons*/
.gridSearchBut{
    height:7px;
    width:7px; 
    background-image: url(../jquery-ui/images/gridSearch.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}
.gridCatBut{
    height:7px;
    width:7px; 
    background-image: url(../jquery-ui/images/gridCat.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}
.gridRefreshBut{
    height:7px;
    width:7px; 
    background-image: url(../jquery-ui/images/gridRefresh.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}


/*MEDIUM SECTIONS */
/*Create listing medium section*/
#createListingsMenu li{
  list-style-type: none;
  list-style: none;
  font-size: xx-small;

}
#createListingsMenu img{
  width:  15px; 
  height: 15px;
}
#createListingsMenu span{
  width:  15px; 
  height: 15px;
  font-size: small;
  font-weight: bold;
}
#createListingsMenu {
  float: left;
  width: 60%;
  /*border:3px solid #8AC007;*/
  padding-left:0px;
  padding-right: 3px;

}

/*search menu  medium section*/
#searchBarMenuMedium {
  float: right;
  width: 40%;
  /*border:3px solid #8AC007;*/
  padding:0px;
  padding-top:5px;
}
/*reduce menu images size*/
#MenuSection img{
   width:  30px; 
   height: 30px; 
}
/*move header menu to the left to do not add it infront of logo*/
.moveMenuLeft {
    float: left;
    /*border:3px solid #8AC007;*/
    padding-left: 30px;
}

/*MEDIUM SECION*/
/* brand new */
.createListingsMenuMedium img{
  width:  15px; 
  height: 15px;
}
/* brand new */
.createListingsMenuMedium span{
  font-size: small;
  font-weight: bold;
}
/* brand new */
.logout-medium{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  float: right;
}
/* brand new */
.logout-medium a{
  font-size: x-small;
  font-weight: bold;
  vertical-align: middle;
}
/* brand new */
.logout-medium img{
  width: 15px;
  height: 15px;
}
/* brand new */
.moveDashboardMenuMediumLeft {
    float: left;
}
/* brand new */
/*.moveDashboardMenuMediumLeft img{
    width: 60px;
    height: 30px;
}*/
/* brand new */
.moveDashboardMenuMediumLeft a span{
    font-size: small;
    font-weight: bold;
}
/* brand new */
.moveRetailerMenuMediumLeft img{
    width: 30px;
    height: 30px;
}
/* brand new */
.moveRetailerMenuMediumLeft span{
    font-weight: bold;
    font-size: small;
}
/* brand-new */
.userName-medium{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  float: left;
}
/* brand-new */
.userName-medium span{
  font-size: small;
  font-weight: bold;
}
/* brand-new */
.userName-medium img{
  height: 20px;
  width: 20px;
}
/* brand new */
.searchbar-medium { 
    position: relative; 
    padding:0; 
    margin:0;
}
/* brand new */
.searchbar-medium input{ 
    height:30px;
    margin:0;
    padding-left: 30px;
}
/* brand new */
.searchbar-medium img{
    position: absolute;
    bottom:10px;
    left:5px;
    width:15px;
    height:15px;
}

a{
  text-decoration:none !important;
}

/*LARGE SECTION*/
/* brand new */
.createListingsMenuLarge img{
  width:  20px; 
  height: 20px;
}
/* brand new */
.createListingsMenuLarge span{
  font-size: small;
  font-weight: bold;
}
/* brand new */
.logout-large{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
}
/* brand new */
.logout-large a{
  font-size: small;
  font-weight: bold;
  vertical-align: middle;
}
/* brand new */
.moveDashboardMenuLargeLeft {
    float: left;
    font-size: small;
    font-weight: bold;
}
/* brand new */
.moveDashboardMenuLargeLeft img{
    width: 60px;
    height: 30px;
}
/* brand new */
.moveDashboardMenuLargeLeft a span{
    font-size: small;
    font-weight: bold;
}


/* brand new */
.moveRetailerMenuLargeLeft img{
    width: 30px;
    height: 30px;
}
/* brand new */
.moveRetailerMenuLargeLeft span{
    font-weight: bold;
    font-size: small;
}
/* brand-new */
.userName-large{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}
/* brand-new */
.userName-large span{
  font-size: medium;
  font-weight: bold;
}

/* brand new */
.searchbar-large { 
    position: relative; 
    padding:0; 
    margin:0;
}
/* brand new */
.searchbar-large input{ 
    height:30px;
    margin:0;
    padding-left: 30px;
}
/* brand new */
.searchbar-large img{
    position: absolute;
    bottom:10px;
    left:5px;
    width:15px;
    height:15px;
}

#UserHiperlinkLarge{
  padding-bottom: 10px;
  padding-left:140px;
}

/*reduce font title size of datepicker*/
.ui-datepicker-title{
  font-size: small;  
}

.entry-title{
  display: none;
}

/*CREATE LISTINGS*/
/*basic section*/
#productBasic {
    float: left;
   /* border:3px solid #8AC007;*/
    width:100%;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;

}
/*Prodcut tab section*/
#productTabsSection {
    float: left;
    /*border:3px solid #8AC007;*/
    width:100%;
}

#productCategory {
    float: left;
    /*border:3px solid #8AC007;*/
    width:100%;
}

#productSocialMedia {
    float: left;
    /*border:3px solid #8AC007;*/
    width:100%;
}
#productButtons {
    float: left;
    /*border:3px solid #8AC007;*/
    width:100%;
    padding-top: 35px;
}

/*labels of input*/
.displayLabel{
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  color:#0468AD;
}
/*labels of information right section*/
.displayLabelInfo{
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  color:#746e6e;
}

#myAccountNav span{
  font-size:large;
  font-weight: bold;
}

/*Upload photo section*/
/* START: Upload photo section*/
/*gray squard of photo section*/
.squard{
  width: 300px;
  height: 250px;
  background: #CBCBCB;
  margin-left: 25px;
  /*background-image: url(../jquery-ui/images/input_image_here.gif);*/
}
.uploadFileBut{
  background-image: url(../jquery-ui/images/insertFile.png);
  background-size: 100% 100%;
  width:50px; 
  height:50px; 
  float: left; 
  background-color: #CBCBCB;
  border: none; 
  margin-left: 25px;
}
/* END: upload photo section */

.uploadFileBut:hover {
    background-color: #dadada;
}
.displaymessagePhoto{
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: xx-large;
  color:#b6b6b6;
   padding: 70px;
}

/*Listings Details tab*/
img.ui-datepicker-trigger {
      position: relative;
      left: -18px;
      top: 2px;
}

/*Add calendar icon next to input*/
#timePickerSpecial img, input[type=text] {
    display: inline-block;
}
#timePickerSpecial img {
  padding-left: 25px;
  padding-bottom: 10px;
}

#timePickerSpecial_1 img, input[type=text] {
    display: inline-block;
}
#timePickerSpecial_1 img {
  padding-left: 25px;
  padding-bottom: 10px;
}

#timePickerSpecial2 img, input[type=text] {
    display: inline-block;
}
#timePickerSpecial2 img {
  padding-left: 50px;
  padding-bottom: 10px;
}

/*Social media check box*/
#productSocialMedia input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2);
  /* Webkit browsers*/
  -webkit-transform: scale(2);
}

/*buttons*/
.buttonProducts{
  min-width: 180px;
  width: 180px;
  height: 50px;
}

.buttonProductsBlueBack{
   background-color: #0368ae;
}

.buttonProductsGrayBack{
   background-color: #f1f1f1;
   color: #C71850;
}

/*messages*/
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
/*success message*/
 .success{
color: #4F8A10;
background-color: #DFF2BF;
background-image:url(../jquery-ui/images/success.png);
}
/*info message*/
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url(../jquery-ui/images/error.png);
}

/*warning message*/
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url(../jquery-ui/images/warning.png);
}

/*jqGrids tricks*/
.ui-jqgrid tr.jqgroup td  {
  background-color:#c71f5a;
  color: #FFFFFF;
   height: 34px !important;
}

.ui-widget-header {
    border: 1px solid #36a4c0 !important;
    background: #36a4c0 !important;
    color: #fff !important;
}

.ui-jqgrid-btable.ui-common-table  tbody tr {
    background: #f2f2f3 !important;
}

/*HACK PROBLEMS WITH GRDIS HIGHLIGHT
.ui-jqgrid .ui-state-highlight:nth-child(even) { background: #F9B233; }
.ui-jqgrid .ui-state-highlight:nth-child(odd) { background: #F9B233; }*/
 