@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
    /*
                  This highlights links on iPhones/iPads.
                  Similar to the :hover selector for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
    list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar .title-area {
    z-index: 1; }

.off-canvas-list ul {
    margin-left: 0; }
.off-canvas-list ul li a {
    border-bottom: 0px; }
.off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
    padding: 1rem 0rem; }

.page-title .vcard {
    border: 0px;
    padding: 0px; }

.byline {
    color: #999; }

.entry-content img {
    max-width: 100%;
    height: auto; }
.entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
.entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }
.entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }
.entry-content pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px; }

.wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px; }
.wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
.wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out; }
.post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #007095; }
.post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    color: #FFFFFF; }


/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
    margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
    margin-left: 0px; }

#respond ul {
    margin-left: 0px; }

.commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px; }
.commentlist li:last-child {
    margin-bottom: 0; }
.commentlist li ul.children {
    margin: 0; }
.commentlist li[class*=depth-] {
    margin-top: 1.1em; }
.commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
.commentlist li:not(.depth-1) {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0;
    background: #e7e7e7; }
.commentlist li.depth-3 {
    background: #dadada; }
.commentlist .vcard {
    margin-left: 50px; }
.commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
.commentlist .vcard time {
    float: right; }
.commentlist .vcard time a {
    color: #999;
    text-decoration: none; }
.commentlist .vcard time a:hover {
    text-decoration: underline; }
.commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }
.commentlist .comment_content p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em; }
.commentlist .comment-reply-link {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
    font-size: 0.8125rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
    float: right; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
    background-color: #007095; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
    color: #FFFFFF; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
    margin: 1.5em 10px;
    padding-bottom: 2.2em; }
.respond-form form {
    margin: 0.75em 0; }
.respond-form form li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em; }
.respond-form form li label, .respond-form form li small {
    display: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url], .respond-form form textarea {
    padding: 3px 6px;
    background: #efefef;
    border: 2px solid #cecece;
    line-height: 1.5em; }
.respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus {
    background: #fff; }
.respond-form form input[type=text]:invalid, .respond-form form input[type=email]:invalid, .respond-form form input[type=url]:invalid, .respond-form form textarea:invalid {
    outline: none;
    border-color: #fbc2c4;
    background-color: #f6e7eb;
    -ms-box-shadow: none;
    box-shadow: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url] {
    max-width: 400px;
    min-width: 250px; }
.respond-form form textarea {
    resize: none;
    width: 97.3%;
    height: 150px; }

#comment-form-title {
    margin: 0 0 1.1em; }

#allowed_tags {
    margin: 1.5em 10px 0.7335em 0; }

.nocomments {
    margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
    margin: 0; }
.widget ul li {
    list-style: none; }
@media only screen and (min-width:40.0625em) {
    .widget {
        padding: 0 10px;
        margin: 2.2em 0; } }

#sidebar-offcanvas .widgettitle {
    color: #fff; }

/*********************
FOOTER STYLES
*********************/
.footer {
    clear: both;
    margin-top: 1em; }

/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
    background: none; }

/*********************
IMAGE GALLERY STYLES
*********************/
[class*="gallery-columns-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem; }
[class*="gallery-columns-"]:before, [class*="gallery-columns-"]:after {
    content: " ";
    display: table; }
[class*="gallery-columns-"]:after {
    clear: both; }
[class*="gallery-columns-"] > .gallery-item {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem; }

.gallery-columns-1 > .gallery-item {
    width: 100%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-1 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-1 > .gallery-item:nth-of-type(1n+1) {
    clear: both; }

.gallery-columns-2 > .gallery-item {
    width: 50%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-2 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-2 > .gallery-item:nth-of-type(2n+1) {
    clear: both; }

.gallery-columns-3 > .gallery-item {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-3 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-3 > .gallery-item:nth-of-type(3n+1) {
    clear: both; }

.gallery-columns-4 > .gallery-item {
    width: 25%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-4 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-4 > .gallery-item:nth-of-type(4n+1) {
    clear: both; }

.gallery-columns-5 > .gallery-item {
    width: 20%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-5 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-5 > .gallery-item:nth-of-type(5n+1) {
    clear: both; }

.gallery-columns-6 > .gallery-item {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-6 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-6 > .gallery-item:nth-of-type(6n+1) {
    clear: both; }

.gallery-columns-7 > .gallery-item {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-7 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-7 > .gallery-item:nth-of-type(7n+1) {
    clear: both; }

.gallery-columns-8 > .gallery-item {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-8 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-8 > .gallery-item:nth-of-type(8n+1) {
    clear: both; }

.gallery-columns-9 > .gallery-item {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-9 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-9 > .gallery-item:nth-of-type(9n+1) {
    clear: both; }

.gallery-columns-10 > .gallery-item {
    width: 10%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-10 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-10 > .gallery-item:nth-of-type(10n+1) {
    clear: both; }

.gallery-columns-11 > .gallery-item {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-11 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-11 > .gallery-item:nth-of-type(11n+1) {
    clear: both; }

.gallery-columns-12 > .gallery-item {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-12 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-12 > .gallery-item:nth-of-type(12n+1) {
    clear: both; }


/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
    list-style: none outside none;
    margin: 0; }

/*********************
PRINT STYLES
*********************/
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        -webkit-filter: none !important;
        filter: none !important;
        -ms-filter: none !important; }
    a, a:visited {
        color: #444 !important;
        text-decoration: underline; }
    a:after, a:visited:after {
        content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
        content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""; }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid; }
    thead {
        display: table-header-group; }
    tr, img {
        page-break-inside: avoid; }
    img {
        max-width: 100% !important; }
    @page {
        margin: 0.5cm; }

    p, h2, h3 {
        orphans: 3;
        widows: 3; }
    h2, h3 {
        page-break-after: avoid; }
    .sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
        display: none; } }

/******************************************************************************
Begin Zoom Local customizations.
*/
@font-face {
  font-family: 'Helvetica-light';
  src: url("fonts/Helvetica_Neue_Light.ttf");
}
@font-face {
  font-family: 'Helvetica-medium';
  src: url("fonts/Helvetica_Neue_Medium.ttf");
}
@font-face {
  font-family: 'Helvetica-bold';
  src: url("fonts/Helvetica_Neue_Bold.ttf");
}
@font-face {
  font-family: 'Helvetica-regular';
  src: url("fonts/Helvetica_Neue_Regular.ttf");
}

a {
    color: #af1556;
}

h1, h2, h3, h4, h5 {
    color: #0c60a7;
    font-weight: 200;
}

body, label {
    font-weight: 200;
}

input[type=text],input[type=password],input[type=email] {
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    border-radius:.5rem;
}

input::-webkit-input-placeholder {
    color: #0c60a7;
    font-size: medium;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #0c60a7;
    font-size: medium;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #0c60a7;
    font-size: medium;
}

input:-ms-input-placeholder {  
    color: #0c60a7;
    font-size: medium;
}

/******************************************************************************
Header
*/
/* Using fixed header, so we need some padding. */
#content #inner-content {
    padding-top: 4rem;
    background-color: #f1f1f1;
}

/* clear black background */
.header .contain-to-grid .contain-to-grid {
    background-color: transparent;
}

.header a {
    color: #0c60a7;
    font-size: large;
    font-weight: 400;
    text-decoration: underline;
}

.top-bar {
    background: none;
    background-color: transparent;
}

/* log in or sign up text in header */
.login-signup {
    text-align: right;
}

.login-signup .login::before {
    content: url(../images/user-sm.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.login-signup .login {
    padding-right: .5rem;
}

.login-signup .signup {
    padding-left: .5rem;
}

.login-signup .logout::before {
    content: url(../images/user-sm.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.login-signup .signup::after {
    content: url(../images/envelope.png);
    padding-left: 1rem;
    vertical-align: middle;
}

/* BEGIN - login popup */
.reveal-modal {
    background-color: #e0e7ed;
}

.reveal-modal .sm-logo {
    position: relative;
    top: 1.375rem;
    left: 1.375rem;
}

.reveal-modal .centered {
    text-align: center;
}

.reveal-modal h3::before {
    content: url(../images/user.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.reveal-modal h3 {
    padding-top: 1rem;
}

.reveal-modal #username {
    background: url(../images/envelope.png) no-repeat 8px 8px;
    background-color: #fff;
    color: #0c60a7;
    padding-left: 3rem;
}

.reveal-modal #password {
    background: url(../images/lock-sm.png) no-repeat 8px 2px;
    background-color: #fff;
    color: #0c60a7;
    padding-left: 3rem;
}

.reveal-modal .forgetmenot {
    font-size: small;
    font-weight: 200;
    text-decoration: underline;
}

.reveal-modal .button {
    font-weight: 400;
    width: 100%;
}

.reveal-modal .social-signin {
    color: #af1556;
}

.reveal-modal .cancel-modal {
    font-weight: 400;
}

a.button.icon {
    line-height: 24px;
    padding: .5rem;
}

a.button.icon span{
    padding-left: 1.5rem;
    display: inline-block;
}

a.button.icon.facebook {
    background-color: #3b5998;
}

a.button.icon.twitter {
    background-color: #00aced;
}

a.button.icon.google-plus {
    background-color: #dd4b39;
}

a.button.icon.facebook span{
    background: url(../images/connect-facebook.png) no-repeat 0 0;
}

a.button.icon.twitter span{
    background: url(../images/connect-twitter.png) no-repeat 0 0;
    padding-left: 2.5rem;
}

a.button.icon.google-plus span{
    background: url(../images/connect-google-plus.png) no-repeat 0 0;
    padding-left: 2.5rem;
}
/* END - login popup */

/* small screens */
@media only screen and (max-width: 40em) {
    .reveal-modal .sm-logo {
        position: relative;
        top: 0;
        left: 0;
    }
}

/* medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    .header-wrapper {
        background: url(../images/stripe_tile.png);
        background-color: #e6eef2;
        height: 10rem;
        padding-top: 2rem;
        z-index: 999;
        -moz-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        -webkit-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
    }

    .logo {
        background: url(../images/logo_150pxH.png) no-repeat;
        height: 150px;
        width: 137px;
    }

    .login-signup {
        text-align: left;
    }

    .top-bar {
        margin-left: 2.5rem;
    }

    .top-bar-section ul li>a {
        font-size: medium;    
    }

    #content #inner-content {
        padding-top: 12rem;
    }

    .reveal-modal .sm-logo {
        position: absolute;
        float: left;
    }
} 

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 

    .header-wrapper {
        background: url(../images/stripe_tile.png);
        background-color: #e6eef2;
        height: 10rem;
        padding-top: 2rem;
        z-index: 999;
        -moz-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        -webkit-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
    }

    .header .contain-to-grid {
        background: none;
        background-color: transparent;
    }

    .logo {
        background: url(../images/logo_200pxH.png) no-repeat;
        height: 200px;
        width: 183px;
    }

    .second-line.row.collapse {
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

    .top-bar-section ul li>a {
        font-size: medium;    
    }

    #content #inner-content {
        padding-top: 12rem;
    }

    .reveal-modal .sm-logo {
        position: absolute;
        float: left;
    }
} 

/* Menu */
.top-bar-section ul li, .top-bar.expanded .title-area {
    background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role=separator] {
    border-right: none;
}

.top-bar-section ul li>a {
    color: #0c60a7; 
}

.top-bar-section .has-dropdown>a:after {
    //border-color: #0c60a7;
}

/******************************************************************************
Content
*/
/* setup left/right side color */
#content  {
    background-color: #36a4c0;
    padding-bottom: 32px;
}

/* Limits content width */
#content .row {
    background-color: transparent;
    max-width: 55.5rem;
}

.zl-register label {
    font-size: large;
}

.zl-register .required {
    color: #af1556;
}


/******************************************************************************
Footer
*/
/* footer */
.footer {
    background: url(../images/stripe_tile.png);
    background-color: #36a4c0;
    color: #fff;
    font-size: large;
    margin-top: auto;
    padding-top: 32px;
}

/* Call to Action */
.footer .sidebar-cta  {
    background-color: #af1556;
    color: #e1e61e;
    font-size: large;
    min-height: 44px;
    padding: 16px;
}

.footer .sidebar-cta .widget  {
    margin: 0px auto;
    padding: auto;
    text-align: center;
}

.footer .sidebar-cta a {
    color: #e1e61e;
    text-decoration: underline;
}

/* Locations */
.sidebar-locations  {
    background-color: rgba(255,255,255,  0.7);
    color: #425363;
    font-size: large;
}

.sidebar-locations .row {
    max-width: 65.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.sidebar-locations .widget  {
    margin: 0 auto;
    padding: 0;
}

.sidebar-locations .widget ul {
    margin: 1rem;
}

.sidebar-locations .widgettitle {
    background-image: url("../images/shop.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #425363;
    line-height: 50px;
    padding-left: 60px;
    margin-bottom: .5rem;
    margin-top: auto;
}

.footer .sidebar-locations .widgettitle,
.footer .sidebar-locations .widgettitle a {
    color: #425363;
}

.sidebar-locations li {
    float: left;
    list-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #425363;
}

.sidebar-locations li a {
    color: #425363;
}

.sidebar-locations .button  {
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
    width: 200px;
}

/* About Widget */
.sidebar-about {
    background-color: rgba(0,0,0,  0.1);
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 65.5rem;
}

.sidebar-about .widget {
    float: left;
}

.footer .widgettitle,
.footer .widgettitle a {
    color: #ffb546;
    margin: auto;
}

.sidebar-about .widget_nav_menu {
    list-style: none;
    max-width: 33%;
    margin-right: 2rem;
}

.sidebar-about .widget_nav_menu a {
    color: #fff;
}

.sidebar-about .widget_nav_menu .menu {
    list-style: none;
    list-style-image: none;
    padding: 0px;
}

.sidebar-about .widget_text {
    max-width: 66%;
}

/* Force sidebar-about widgets to stack 100% */
@media only screen and (max-width: 768px) {
    .sidebar-about .widget {
        float: none;
        padding: 1rem;
    }

    .sidebar-about .widget .widget_nav_menu {
        max-width: 100%;
    }

    .sidebar-about .widget .widget_text {
        max-width: 100%;
    }
}

/* final-footer */
.final-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.final-footer .columns {
    padding-top: 2rem;
}

.final-footer .content {
    padding-left: 1rem;
}

/* Download */
.download-content {
    padding: 0 0 0 44px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
    position: relative; /* So the thumbnail is relative to this */
    text-align: left;
}

.download-content img {
    left: 0;
    position: absolute;
    top: 0;
}

/* Subscribe */
.subscribe-content {
    padding: 0 0 0 80px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
    position: relative; /* So the thumbnail is relative to this */
    text-align: left;
}

.subscribe-content img {
    left: 0;
    position: absolute;
    top: 0;
}

/* Socialize */
.socialize-content .widgettitle {
    text-align: center;
}

.socialize-content ul {
    margin: 0 auto;
    text-align: center;
}

.socialize-content ul li {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}

/* Centers the copyright text. */
.source-org {
    text-align: center;
}

/* Gray spacer at bottom of page. */
.footer-spacer {
    background-color: #425363; 
    color: #fff;
    font-size: small;
    margin: 0 auto;
    max-width: none;
    padding: 16px;
}

/* BEGIN - WOOCOMMERCE STYLE */
