$accordion-header-bg-color: #C62059;
$tab-title-background:$accordion-header-bg-color;
$yellow-accent: #DEDC00;
$orange-accent: #f9b233;
$grey-accent: #676767;
$font-dark: #4d4d4d;
$font-light: #F2F2F2;
$font-p-color: #676767;
$font-p-size: 1.25rem;
$font-blue: #0C60A7;

$box-shadow: rgba(54, 70, 78, 0.2);
