//include loader
@import 'loader';
$font-size:1rem;
/*styles for event dashboard*/
section#intro-message{
  padding-top:2rem;
}
#event-details,
#event-list-section{
  position: relative;
}
#event-add-new{
  margin-top:1rem;
}
ul.soc-list{
  margin:0;
  li{
    margin: 0;
    margin-bottom: 1rem;
  }
}
.loader-box{
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#create-event-form,
table#event-list{
  display: none;
}
$table-font-size: .75rem;
table{
  &#event-list{
    width: 100%;
    font-size:$table-font-size;
  }
  tr.event-row.displayed{
    background-color:#2BA6CB ;
    color:#fefefe;
  }
  tr.event-row{
    &:hover{
      font-weight: 700;
      cursor: pointer;
      cursor: hand;
    }
  }
}
.text-capitalized{
  text-transform: capitalize;
}

form#create-event-form{
  font-size: $font-size;
  label{
    font-size:.75rem;
    font-weight: bold;
  }
  span,select,[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea
  ul.accordion, a.panel-heading, h3,h5{
    font-size: .75rem;
    font-weight: bold;
  }
  h3{
    padding-top:1rem;
  }
  ul.accordion{
    border:none;
  }
  textarea{
    height: auto;
  }
  #status{
    display: none;
  }
  strong{
    display: block;
  }
  .alert-box {
    background: #f7f7f7;
    color: #333;
    border: none;
    border-left: 6px solid #008CBA;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

    &.success {
      background: #f7f7f7;
      color: #333;
    }

    &.alert {
      background: #f7f7f7;
      color: #333;
    }

    &.warning {
      background: #f7f7f7;
      color: #333;
    }

    &.info {
      background: #f7f7f7;
      color: #333;
    }

    &.small {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.75rem;

      .close {
        font-size: 1.5rem;
      }
    }

    &.large {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 2rem;

      .close {
        font-size: 3rem;
      }
    }

    .close {
      font-size: 2rem;
      line-height: 1.25rem;
    }
  }

}