/*

<div class="loader">Loading...</div>

*/
.loader,
.loader:before,
.loader:after {
  background: #37A3BF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
/*styles for event dashboard*/
section#intro-message {
  padding-top: 2rem; }

#event-details,
#event-list-section {
  position: relative; }

#event-add-new {
  margin-top: 1rem; }

ul.soc-list {
  margin: 0; }
  ul.soc-list li {
    margin: 0;
    margin-bottom: 1rem; }

.loader-box {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#create-event-form,
table#event-list {
  display: none; }

table#event-list {
  width: 100%;
  font-size: 0.75rem; }
table tr.event-row.displayed {
  background-color: #2BA6CB;
  color: #fefefe; }
table tr.event-row:hover {
  font-weight: 700;
  cursor: pointer;
  cursor: hand; }

.text-capitalized {
  text-transform: capitalize; }

form#create-event-form {
  font-size: 1rem; }
  form#create-event-form label {
    font-size: .75rem;
    font-weight: bold; }
  form#create-event-form span, form#create-event-form select, form#create-event-form [type="text"], form#create-event-form [type="password"], form#create-event-form [type="date"], form#create-event-form [type="datetime"], form#create-event-form [type="datetime-local"], form#create-event-form [type="month"], form#create-event-form [type="week"], form#create-event-form [type="email"], form#create-event-form [type="number"], form#create-event-form [type="search"], form#create-event-form [type="tel"], form#create-event-form [type="time"], form#create-event-form [type="url"], form#create-event-form [type="color"], form#create-event-form textarea
  ul.accordion, form#create-event-form a.panel-heading, form#create-event-form h3, form#create-event-form h5 {
    font-size: .75rem;
    font-weight: bold; }
  form#create-event-form h3 {
    padding-top: 1rem; }
  form#create-event-form ul.accordion {
    border: none; }
  form#create-event-form textarea {
    height: auto; }
  form#create-event-form #status {
    display: none; }
  form#create-event-form strong {
    display: block; }
  form#create-event-form .alert-box {
    background: #f7f7f7;
    color: #333;
    border: none;
    border-left: 6px solid #008CBA;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2); }
    form#create-event-form .alert-box.success {
      background: #f7f7f7;
      color: #333; }
    form#create-event-form .alert-box.alert {
      background: #f7f7f7;
      color: #333; }
    form#create-event-form .alert-box.warning {
      background: #f7f7f7;
      color: #333; }
    form#create-event-form .alert-box.info {
      background: #f7f7f7;
      color: #333; }
    form#create-event-form .alert-box.small {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.75rem; }
      form#create-event-form .alert-box.small .close {
        font-size: 1.5rem; }
    form#create-event-form .alert-box.large {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 2rem; }
      form#create-event-form .alert-box.large .close {
        font-size: 3rem; }
    form#create-event-form .alert-box .close {
      font-size: 2rem;
      line-height: 1.25rem; }

/*# sourceMappingURL=event-dashboard.css.map */
