/*4-nov-2015*/

.moveRetailerMenuLargeLeft img {
    width: 30px;
    height: auto !important;
}

#productBasic {
    padding: 0 30px;
}

#uploadImageForm {
    position: relative;
}

#uploadImageForm p {
    position: absolute;
    right: 25px;
    top: 6px;
}

.squard {
    background-size: 100%;
    margin-left: 0px !important;
    width: 100% !important;
    height: 280px !important;
}

#productBasic .entry-content {
    padding-left: 50px !important;
}

.uploadFileBut {
    width: 45px !important;
    height: 45px !important;
}

#productBasic .top-bar .top-bar-section {
    float: right !important;
}

#myAccountNav span {
    font-size: 34px !important;
    font-weight: 500 !important;
}

nav.top-bar + div {
    text-align: right;
    padding-left: 0px !important;
    margin-top: 10px;
    }

#productBasic .product-right {
    margin-top: -85px;
}

.ui-datepicker {
    width: 100%;
}

/*Need to move content to top*/
/*#content #inner-content {
    padding-top: 16rem !important;
}*/

.product-left label.displayLabel {
    font-size: 22px;
}

.rightDivCont .ui-datepicker {
    width: 100% !important;
    padding: 0px !important;
}

/* .product-left textarea[placeholder="insert"]{ 	font-size: 40px; 	text-align: center; 	margin-top: 40%; 	background:url('http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/insert.png') no-repeat; 	background-size: contain; }*/

/*style for input-checkbox*/

/* table input[type=checkbox] { 	display: none; } table input[type=checkbox]  + label span { 	display: inline-block; 	width:23px; 	height: 23px; 	background: url("http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/checkbox.png") left top no-repeat; 	cursor: pointer; 	vertical-align:middle; } table input[type=checkbox]:checked + label span {    background:url("http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/tick.png") left top no-repeat;}*/

table input[type=checkbox] + label {
    margin: 0px;
    padding: 0px;
}

.ui-jqgrid .ui-jqgrid-btable {
    table-layout: auto !important;
}

td .social-icon {
    color: #fff;
    padding: 10px 20px 15px;
    border-radius: 5px;
}

/*.ui-jqgrid {
    width: 100% !important;
}*/

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-state-highlight {
    border: 1px solid #E7E7E7 !important;
    background: transparent !important;
}

.ui-widget-content {
    border: 1px solid #e4e3e3 !important;
}

.ui-corner-top {
    border-radius: 0px !important;
}

.ui-datepicker-calendar {
    margin-bottom: 0px !important;
}

.fb {
    background-color: #4381bc;
}

.twit {
    background-color: #00aced;
}

.insta {
    background-color: #c4af98;
}

td .social-icon .fa {
    position: relative;
    top: 6px;
    font-size: 20px;
    margin-right: 20px;
}

#productSocialMedia {
    margin-bottom: 15px;
}

.wsubcategs .small-3.columns.end {
    width: 28% !important;
}

.accordion-navigation a {
    position: relative;
}

.accordion-navigation a:after {
    content: "\f150";
    font-family: 'Fontawesome';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    position: absolute;
    right: 10px;
}

.accordion-navigation a.arrow-dir:after {
    content: "\f151";
    font-family: 'Fontawesome';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    position: absolute;
    right: 10px;
}

input#account_email {
    border-radius: 0px !important;
}

#productTabsSection .ui-datepicker {
    width: 200px !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    height: auto !important;
}

/*#ppromotedListings {
    display: none !important;
}*/

/*/09-11-2015*/

.panel {
	background: #fff;
	border: 1px solid #666;
}

.Search-feild {
    float: left;
    width: 100%;
}

.Search-feild li {
    width: 200px;
    display: inline-block;
    margin-right: 20px;
}

.Search-feild .searching-for {
    margin: 0px;
    text-transform: capitalize;
}

.Search-feild li input {
    border-radius: 0px;
}

.Search-feild li input.small.button {
	margin-bottom: 0px;
	height: 40px;
}

.header-wrapper.fixed {
	height: auto;
}

.large-2.columns {
	height: 130px;
}

section.top-bar-section li a {
    font-size: small;
    font-weight: bold;
}

.list-fiel-wrapper {
	float:left;
	width:100%;
	border-top: 2px dotted #f1f1f1;
    padding: 14px 0px;
}

.list-fiel-wrapper h3 {
	margin: 0px;
    text-transform: uppercase;
}

.list-fiel-wrapper p {
	margin:0px;
}

.list-fiel-wrapper h3 a {
	color:#0078a0;
}

.list-fiel-wrapper h3 a:hover {
	color:#af1556;
}

.partner-location {
	margin-top: 20px;
}

/*-------STYLE - 23-NOV-2015 ---29's---------*/

@media screen and (max-width:480px){

    .logged-in div#content > div#inner-content.row {
        padding-top: 6rem !important;
    }

/*    .logo {
        width:70px !important;
        height: 70px !important;
    }*/
    .zl-shop-head .breadcrumbs {
        padding: 2px;
    }

    .zl-shop-head .medium-6.columns.login-signup.text-right {
        text-align: left !important;
    }

    .zl-shop-head .medium-12.columns.text-right {
        text-align: left !important;
    }

    .zl-shop-head .medium-12.columns.text-right h2 {
        font-size: 24px;
    }

    .zl-shop-head .medium-12.columns.text-right p {
        font-size: 16px !important;
        line-height: 20px;
    }

    .zl-shop-head .medium-12.columns.text-right p a {
        font-size: 12px;
    }

    .zl-product-info h3 {
        font-size: 22px !important;
        line-height: 25px !important;
    }

    .zl-product-info .despara {
        padding: 0 0 10px;
        font-size: 16px !important;
        line-height: 22px;
    }

    .zl-product-info .despara .desctit {
        font-size: 18px;
    }

    .zl-product-info .main-price .price {
        font-size: 25px !important;
        margin:0px auto;
        width: inherit;
    }

    .zl-product-info .main-price .soc-list.inline-list li {
        margin-left: 0px;

    }

    .zl-product-info .main-price .soc-list.inline-list li img {
        width: 16px;
        margin:0px 6px;
    }

/*    .zl-product-info .main-price .soc-list.inline-list li:first-child img {
        width: 10px;
        margin:0px 6px;
    }*/

    .single ul.soc_list li  img {
        width:16px !important;
        margin:0px 6px;
    }

    .single .price span.amount {
        font-size: 25px !important;
    }


    ul.soc-list.inline-list.right li:nth-child(1) a img {
       width: 7px;
    }

    ul.soc-list.inline-list.right li:nth-child(2) a img {
       width: 12px;
    }

    .footer .sidebar-about .widget.widget_nav_menu {
        max-width: 100%;
    }

    .footer .sidebar-about .widget_text {
        max-width: 100%;
    }

    .header-wrapper .row.small-hide {
        display: none;
    }

    .final-footer .download-content img {
        width:30px;
        margin-left: 6px;
    }

    .final-footer .content {
        padding-left: 0px;
    }

    .final-footer .widgettitle {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .final-footer .subscribe-content {
        padding-left:57px;
    }

    .final-footer .subscribe-content img {
        width:50px;
        margin-top: 24px;
    }

    .vendor-info  span a.store-telephone {
        font-size: 13px;
    }

    .mean-bar .top-bar .top-bar-section ul li a span {
        font-size: 12px !important;
    }


    .header-wrapper.fixed {
        background-color: #2B94B0;
    }

    .sidebar-locations .widget ul {
        overflow: hidden;
    }
    .sidebar-locations .widget ul .button {
        margin:10px auto;
        float:none;
        display: inherit;
    }

    .soc-list.inline-list.right {
       margin: 0 auto;
       display: table;
       width: auto;
       float: none !important;
    } 


    ul.products li.product .price {
       padding-top: 1em;
    } 

    #content div.row.zl-shop-head a.button:first-child {
        color: transparent;
    }

    #content div.row.zl-shop-head a.button i {
       color: #f2f2f2 ;
    }

    #search-button i {
       text-align: center;
       margin: 9px auto;
       display: block;
    }

    .single-product div.product h1.product_title {
        margin: 0px;
        font-size: 22px;
        line-height: normal;
    }

    .main_price .row:first-child .small-3 {
        width:100%;
    }

    .main_price .row:first-child .small-9 {
        width:100%;
    }

    .zl-shop-head .breadcrumbs li {
        padding: 5px 0px;
    }

    .single-product div.product p.price, .single-product div.product span.price {
        width:100%;
        text-align: center;
    }


    .archive ul.products li.product .price {
        text-align: center;
    }

    .single-product .main_price ul.soc_list {
        padding: 0px !important;
        margin: 0 auto;
        display: table;
        width: auto;
        float: none !important;
    }

    .related.products.medium-12.columns {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.mimage img {
    max-width: 100%;
    width: 100%;
}

.left.mimage {
    width: 70px;
}

.mdata {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
}

.mdata span {
    color:#af1556;
    display: block;
}

.slink {
    float:right;
}

.slink a:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 22px;
    margin-right: 7px;
    color: #333;
}

.gm-style .gm-style-iw {
    max-width: 340px !important;
}

.list-fiel-wrapper .shop-images {
    width:40px;
    height: auto;
}


/*Moon Start - some workaround for checkout page*/
div.woocommerce-message{
    display: none;
}

div.woocommerce-billing-fields,
div.woocommerce-shipping-fields,
form.checkout.woocommerce-checkout,
div.woocommerce{
    background-color: #fefefe;
    padding: 1rem;
}