/*4-nov-2015*/

.moveRetailerMenuLargeLeft img {
    width: 30px;
    height: auto !important;
}

#productBasic {
    padding: 0 30px;
}

#uploadImageForm {
    position: relative;
}

#uploadImageForm p {
    position: absolute;
    right: 25px;
    top: 6px;
}

.squard {
    background-size: 100%;
    margin-left: 0px !important;
    width: 100% !important;
    height: 280px !important;
}

#productBasic .entry-content {
    padding-left: 50px !important;
}

.uploadFileBut {
    width: 45px !important;
    height: 45px !important;
}

#productBasic .top-bar .top-bar-section {
    float: right !important;
}

#myAccountNav span {
    font-size: 34px !important;
    font-weight: 500 !important;
}

nav.top-bar + div {
    text-align: right;
}

#productBasic .product-right {
    margin-top: -85px;
}

.ui-datepicker {
    width: 100%;
}

#content #inner-content {
    padding-top: 16rem !important;
}

.product-left label.displayLabel {
    font-size: 22px;
}

.rightDivCont .ui-datepicker {
    width: 100% !important;
    padding: 0px !important;
}

/* .product-left textarea[placeholder="insert"]{
 	font-size: 40px;
 	text-align: center;
 	margin-top: 40%;
 	background:url('http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/insert.png') no-repeat;
 	background-size: contain;
 }*/

/*style for input-checkbox*/
/*
 table input[type=checkbox] {
 	display: none;
 }

 table input[type=checkbox]  + label span {
 	display: inline-block;
 	width:23px;
 	height: 23px;
 	background: url("http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/checkbox.png") left top no-repeat;
 	cursor: pointer;
 	vertical-align:middle;
 }

 table input[type=checkbox]:checked + label span {
    background:url("http://listings-dev.zoomlocal.com/wp-content/uploads/2015/11/tick.png") left top no-repeat;
}*/
table input[type=checkbox] + label {
    margin: 0px;
    padding: 0px;
}

.ui-jqgrid .ui-jqgrid-btable {
    table-layout: auto !important;
}

td .social-icon {
    color: #fff;
    padding: 10px 20px 15px;
    border-radius: 5px;
}

.ui-jqgrid {
    width: 100% !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-state-highlight {
    border: 1px solid #E7E7E7 !important;
    background: transparent !important;
}

.ui-widget-content {
    border: 1px solid #e4e3e3 !important;
}

.ui-corner-top {
    border-radius: 0px !important;
}

.ui-datepicker-calendar {
    margin-bottom: 0px !important;
}

.fb {
    background-color: #4381bc;
}

.twit {
    background-color: #00aced;
}

.insta {
    background-color: #c4af98;
}

td .social-icon .fa {
    position: relative;
    top: 6px;
    font-size: 20px;
    margin-right: 20px;
}

#productSocialMedia {
    margin-bottom: 15px;
}

.wsubcategs .small-3.columns.end {
    width: 28% !important;
}

.accordion-navigation a {
    position: relative;
}

.accordion-navigation a:after {
    content: "\f150";
    font-family: 'Fontawesome';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    position: absolute;
    right: 10px;
}

.accordion-navigation a.arrow-dir:after {
    content: "\f151";
    font-family: 'Fontawesome';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    position: absolute;
    right: 10px;
}

input#account_email {
    border-radius: 0px !important;
}

#productTabsSection .ui-datepicker {
    width: 200px !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    height: auto !important;
}

/*#ppromotedListings {
	display: none !important;
}*/

/*/09-11-2015*/

.Search-feild {
    float: left;
    width: 100%;
}

.Search-feild li {
    width: 200px;
    display: inline-block;
    margin-right: 20px;
}

.Search-feild .searching-for {
    margin: 0px;
}

.Search-feild li input {
    border-radius: 0px;
}