
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float: left;
  height: auto !important;
  min-height: auto;
  padding: 0 0 0 0;
  overflow: visible;
  position: fixed;
  width: 100%;
  z-index: 99999999999999;
  top:74px !important;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: fixed;
	top: 15px;
	right: 0;
	cursor: pointer;
	color: #0c60a7;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #0c60a7 none repeat scroll 0 0;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
  background: rgba(12, 96, 167, 0.8) none repeat scroll 0 0;
  float: left;
  margin-top: 0px;
  width: 100%;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-nav .top-bar{
	margin: 0px !important; 
}

.mean-container .mean-nav ul li a {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    display: block;
    line-height: inherit !important;
    float: left;
    margin: 0;
    padding: 1em 3% !important;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.mean-nav .top-bar-section {
    width: 100%;
}
.mean-bar .top-bar {
    display: block;
    height: auto !important;
}
.meanclose + .mean-nav .top-bar-menu {
    display: block !important;
}
.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
    background: #c81550 none repeat scroll 0 0 !important;
}
.mean-container .mean-nav ul li.divider {
    display: none;
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 32px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}




.meanclose + .mean-nav {
    display: block;
}

.meanclose + .mean-nav .menu {
    display: block !important;
}

.top-bar.hidden {
    display: none;
}

@media (max-width: 890px){
	.top-bar {
	    display: none;
	}

	.mean-bar #menu-dashboard_menu-1.menu, #menu-retailer_menu-1.menu {
    display: none !important;
}
.meanclose + .mean-nav nav.top-bar.hidden ul {
    display: block !important;
}
.meanclose + .mean-nav .top-bar.hidden {
    display: block;
}

}


@media (min-width: 568px){
	.menu-open .mean-bar {
	    height: 71% !important;
	    overflow-y: scroll;
	    width: 104%;
	    overflow-x: hidden;
	}
}

#copied-nav-bar {
    display: none !important;
}

.mean-nav img {
    display: none !important;
}

.mean-nav .top-bar a {
    font-family: "Open Sans",sans-serif;
    font-size: small;
    font-weight: bold;
}



.off-canvas-wrap {
   -webkit-backface-visibility: visible !important;
}