/*Custom css for registration page*/


/* FOR WOOCOMMERCE LOGIN */
$accordion-header-bg-color: #C62059;
$font-dark: #4d4d4d;


/*Override foundation CSS For login form. Should use SASS instead? */
.accordion .accordion-navigation.active > a,
.accordion .accordion-navigation > a, .accordion dd > a,
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover,
.accordion .accordion-navigation > a:active, .accordion dd > a:active,
.accordion .accordion-navigation > a:visited, .accordion dd > a:visited{
  background: $accordion-header-bg-color;
  color: #FFFFFF;
}

/*adjust accordion margin*/
div.menu-categs-box ul.accordion{
  margin-left: 0;
}

.zl-register{
  h5{
    color: $font-dark;
    font-size: 1rem;
  }
  h2{
    font-size: 1.6875rem;
    font-weight: 200;
  }
  .row{
    /*padding-top:1rem;*/
  }
  .button, button {
    padding:0.5rem 1rem;
  }
  input[type="text"] {
    border-radius: 0 !important;
  }
}

input.timepicker{
  border-radius: 0;
}

ul.accordion,
ul.wsubcategs,
li.accordion-navigation{
  line-height: .5;
}

.accordion .accordion-navigation > .content, .accordion dd > .content {
  display: none;
  padding: 0;
}

.subheader, h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}


#locations-panel{
  label {
    padding: .25rem 0;
  }
}

