/*Custom css for registration page*/
/* FOR WOOCOMMERCE LOGIN */
/*Override foundation CSS For login form. Should use SASS instead? */
.accordion .accordion-navigation.active > a,
.accordion .accordion-navigation > a, .accordion dd > a,
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover,
.accordion .accordion-navigation > a:active, .accordion dd > a:active,
.accordion .accordion-navigation > a:visited, .accordion dd > a:visited {
  background: #C62059;
  color: #FFFFFF; }

/*adjust accordion margin*/
div.menu-categs-box ul.accordion {
  margin-left: 0; }

.zl-register h5 {
  color: #4d4d4d;
  font-size: 1rem; }
.zl-register h2 {
  font-size: 1.6875rem;
  font-weight: 200; }
.zl-register .row {
  /*padding-top:1rem;*/ }
.zl-register .button, .zl-register button {
  padding: 0.5rem 1rem; }
.zl-register input[type="text"] {
  border-radius: 0 !important; }

input.timepicker {
  border-radius: 0; }

ul.accordion,
ul.wsubcategs,
li.accordion-navigation {
  line-height: .5; }

.accordion .accordion-navigation > .content, .accordion dd > .content {
  display: none;
  padding: 0; }

.subheader, h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem; }

#locations-panel label {
  padding: .25rem 0; }

/*# sourceMappingURL=my-account.css.map */
