/*
this is a comment*/
$silver-color: #ACACAC;
$gold-color: #FFD700;
$platinum-color: #2D2D2D;
$special-color:#CA4B76;
$white-color: #FEFEFE;
$diamond-color: #7d1242;
$black:#2D2D2D;
$gold-font:#FBB041;
$transform-scale:1.2;
$blue-background:transparent linear-gradient(#5499C0, #6DB8D5) repeat scroll 0% 0%;
.zl-pricing-table{
  span.message{
    display: block;
    padding:1rem;
    margin-bottom:1rem;
    color: $white-color;
    background: $blue-background;
    width: 100%;
  }
  span.price-desc{
    display: block;
  }
  span.zl-price{
    color: $gold-font;
    font-weight: 700;
  }
  ul.row{
    margin: 0 auto;
    &.price-header{
      li{
        padding-top:1rem;
        padding-bottom:1rem;
        font-size: 2rem;
        color: $white-color;
        &:nth-child(1){
          background: transparent linear-gradient(#77AB49, #9CC05C) repeat scroll 0% 0%;
        }
        &:nth-child(2){
          background: $blue-background;
        }
        &:nth-child(3){
          background: transparent linear-gradient(#877DB1, #A79FC6) repeat scroll 0% 0%;
        }
      }
    }
    &.price-row{
      li{
        padding-top:.5rem;
        padding-bottom: .5rem;
        &.small-monthly{
          background: transparent linear-gradient(#77AB49, #9CC05C) repeat scroll 0% 0%;
        }
        &.small-quarterly{
          background: $blue-background;
        }
        &.small-yearly{
          background: transparent linear-gradient(#877DB1, #A79FC6) repeat scroll 0% 0%;
        }
        a{
          font-size:1rem;
          color: $black;
          &.picked{
            background-color: #37A3BF;
            margin-right: -0.9375rem;
            margin-bottom: -1.5rem;
            margin-left: -0.9375rem;
            margin-top: -.5rem;
            padding-top: .5rem;
            padding-bottom: .75rem;
            color:$white-color;
          }
          &.package-button{
            display: block;
            transition:All 1s ease;
            -webkit-transition:All 1s ease;
            -moz-transition:All 1s ease;
            -o-transition:All 1s ease;
            &:hover{
              transform: scale($transform-scale);
            }
          }
        }

      }
      li:first-child{
        font-size: 1.2rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }
      &.silver-package{
        li:first-child{
          background-color: $silver-color;
          color: $white-color;
        }
      }
      &.gold-package{
        li:first-child{
          background-color: $gold-color;
          color: $white-color;
        }
      }
      &.platinum-package{
        li:first-child{
          background-color:$platinum-color;
          color: $white-color;
        }
      }
      &.special-package{
        li:first-child{
          background-color:$special-color;
          color: $white-color;
        }
      }
      &.diamond-package{
        li:first-child{
          background-color:$diamond-color;
          color: $white-color;
        }
      }
    }
  }

}

a.buy-now{
  margin-top:4rem;
}

@media only screen and (max-width: 40em) {
  .zl-pricing-table ul.row.price-row li a.picked {
    background-color: #37A3BF;
   padding-bottom: 1.25rem;
    color: #FEFEFE;
  }
}