/*
this is a comment*/
.zl-pricing-table span.message {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #FEFEFE;
  background: transparent linear-gradient(#5499C0, #6DB8D5) repeat scroll 0% 0%;
  width: 100%; }
.zl-pricing-table span.price-desc {
  display: block; }
.zl-pricing-table span.zl-price {
  color: #FBB041;
  font-weight: 700; }
.zl-pricing-table ul.row {
  margin: 0 auto; }
  .zl-pricing-table ul.row.price-header li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #FEFEFE; }
    .zl-pricing-table ul.row.price-header li:nth-child(1) {
      background: transparent linear-gradient(#77AB49, #9CC05C) repeat scroll 0% 0%; }
    .zl-pricing-table ul.row.price-header li:nth-child(2) {
      background: transparent linear-gradient(#5499C0, #6DB8D5) repeat scroll 0% 0%; }
    .zl-pricing-table ul.row.price-header li:nth-child(3) {
      background: transparent linear-gradient(#877DB1, #A79FC6) repeat scroll 0% 0%; }
  .zl-pricing-table ul.row.price-row li {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    .zl-pricing-table ul.row.price-row li.small-monthly {
      background: transparent linear-gradient(#77AB49, #9CC05C) repeat scroll 0% 0%; }
    .zl-pricing-table ul.row.price-row li.small-quarterly {
      background: transparent linear-gradient(#5499C0, #6DB8D5) repeat scroll 0% 0%; }
    .zl-pricing-table ul.row.price-row li.small-yearly {
      background: transparent linear-gradient(#877DB1, #A79FC6) repeat scroll 0% 0%; }
    .zl-pricing-table ul.row.price-row li a {
      font-size: 1rem;
      color: #2D2D2D; }
      .zl-pricing-table ul.row.price-row li a.picked {
        background-color: #37A3BF;
        margin-right: -0.9375rem;
        margin-bottom: -1.5rem;
        margin-left: -0.9375rem;
        margin-top: -.5rem;
        padding-top: .5rem;
        padding-bottom: .75rem;
        color: #FEFEFE; }
      .zl-pricing-table ul.row.price-row li a.package-button {
        display: block;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
        .zl-pricing-table ul.row.price-row li a.package-button:hover {
          transform: scale(1.2); }
  .zl-pricing-table ul.row.price-row li:first-child {
    font-size: 1.2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .zl-pricing-table ul.row.price-row.silver-package li:first-child {
    background-color: #ACACAC;
    color: #FEFEFE; }
  .zl-pricing-table ul.row.price-row.gold-package li:first-child {
    background-color: #FFD700;
    color: #FEFEFE; }
  .zl-pricing-table ul.row.price-row.platinum-package li:first-child {
    background-color: #2D2D2D;
    color: #FEFEFE; }
  .zl-pricing-table ul.row.price-row.special-package li:first-child {
    background-color: #CA4B76;
    color: #FEFEFE; }
  .zl-pricing-table ul.row.price-row.diamond-package li:first-child {
    background-color: #7d1242;
    color: #FEFEFE; }

a.buy-now {
  margin-top: 4rem; }

@media only screen and (max-width: 40em) {
  .zl-pricing-table ul.row.price-row li a.picked {
    background-color: #37A3BF;
    padding-bottom: 1.25rem;
    color: #FEFEFE; } }

/*# sourceMappingURL=pricing.css.map */
