@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/

@font-face {
  font-family: 'Helvetica-light';
  src: url("fonts/Helvetica_Neue_Light.ttf");
}
@font-face {
  font-family: 'Helvetica-medium';
  src: url("fonts/Helvetica_Neue_Medium.ttf");
}
@font-face {
  font-family: 'Helvetica-bold';
  src: url("fonts/Helvetica_Neue_Bold.ttf");
}
@font-face {
  font-family: 'Helvetica-regular';
  src: url("fonts/Helvetica_Neue_Regular.ttf");
}


a:link, a:visited:link {
    /*
                  This highlights links on iPhones/iPads.
                  Similar to the :hover selector for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
    list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar .title-area {
    z-index: 1; }

.off-canvas-list ul {
    margin-left: 0; }
.off-canvas-list ul li a {
    border-bottom: 0px; }
.off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
    padding: 1rem 0rem; }

.page-title .vcard {
    border: 0px;
    padding: 0px; }

.byline {
    color: #999; }

.entry-content img {
    max-width: 100%;
    height: auto; }
.entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
.entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }
.entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }
.entry-content pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px; }

.wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px; }
.wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
.wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out; }
.post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #007095; }
.post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    color: #FFFFFF; }


/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
    margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
    margin-left: 0px; }

#respond ul {
    margin-left: 0px; }

.commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px; }
.commentlist li:last-child {
    margin-bottom: 0; }
.commentlist li ul.children {
    margin: 0; }
.commentlist li[class*=depth-] {
    margin-top: 1.1em; }
.commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
.commentlist li:not(.depth-1) {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0;
    background: #e7e7e7; }
.commentlist li.depth-3 {
    background: #dadada; }
.commentlist .vcard {
    margin-left: 50px; }
.commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
.commentlist .vcard time {
    float: right; }
.commentlist .vcard time a {
    color: #999;
    text-decoration: none; }
.commentlist .vcard time a:hover {
    text-decoration: underline; }
.commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }
.commentlist .comment_content p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em; }
.commentlist .comment-reply-link {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
    font-size: 0.8125rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
    float: right; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
    background-color: #007095; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
    color: #FFFFFF; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
    margin: 1.5em 10px;
    padding-bottom: 2.2em; }
.respond-form form {
    margin: 0.75em 0; }
.respond-form form li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em; }
.respond-form form li label, .respond-form form li small {
    display: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url], .respond-form form textarea {
    padding: 3px 6px;
    background: #efefef;
    border: 2px solid #cecece;
    line-height: 1.5em; }
.respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus {
    background: #fff; }
.respond-form form input[type=text]:invalid, .respond-form form input[type=email]:invalid, .respond-form form input[type=url]:invalid, .respond-form form textarea:invalid {
    outline: none;
    border-color: #fbc2c4;
    background-color: #f6e7eb;
    -ms-box-shadow: none;
    box-shadow: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url] {
    max-width: 400px;
    min-width: 250px; }
.respond-form form textarea {
    resize: none;
    width: 97.3%;
    height: 150px; }

#comment-form-title {
    margin: 0 0 1.1em; }

#allowed_tags {
    margin: 1.5em 10px 0.7335em 0; }

.nocomments {
    margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
    margin: 0; }
.widget ul li {
    list-style: none; }
@media only screen and (min-width:40.0625em) {
    .widget {
        padding: 0 10px;
        margin: 2.2em 0; } }

#sidebar-offcanvas .widgettitle {
    color: #fff; }

/*********************
FOOTER STYLES
*********************/
.footer {
    clear: both;
    margin-top: 1em; }

/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
    background: none; }

/*********************
IMAGE GALLERY STYLES
*********************/
[class*="gallery-columns-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem; }
[class*="gallery-columns-"]:before, [class*="gallery-columns-"]:after {
    content: " ";
    display: table; }
[class*="gallery-columns-"]:after {
    clear: both; }
[class*="gallery-columns-"] > .gallery-item {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem; }

.gallery-columns-1 > .gallery-item {
    width: 100%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-1 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-1 > .gallery-item:nth-of-type(1n+1) {
    clear: both; }

.gallery-columns-2 > .gallery-item {
    width: 50%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-2 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-2 > .gallery-item:nth-of-type(2n+1) {
    clear: both; }

.gallery-columns-3 > .gallery-item {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-3 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-3 > .gallery-item:nth-of-type(3n+1) {
    clear: both; }

.gallery-columns-4 > .gallery-item {
    width: 25%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-4 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-4 > .gallery-item:nth-of-type(4n+1) {
    clear: both; }

.gallery-columns-5 > .gallery-item {
    width: 20%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-5 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-5 > .gallery-item:nth-of-type(5n+1) {
    clear: both; }

.gallery-columns-6 > .gallery-item {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-6 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-6 > .gallery-item:nth-of-type(6n+1) {
    clear: both; }

.gallery-columns-7 > .gallery-item {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-7 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-7 > .gallery-item:nth-of-type(7n+1) {
    clear: both; }

.gallery-columns-8 > .gallery-item {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-8 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-8 > .gallery-item:nth-of-type(8n+1) {
    clear: both; }

.gallery-columns-9 > .gallery-item {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-9 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-9 > .gallery-item:nth-of-type(9n+1) {
    clear: both; }

.gallery-columns-10 > .gallery-item {
    width: 10%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-10 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-10 > .gallery-item:nth-of-type(10n+1) {
    clear: both; }

.gallery-columns-11 > .gallery-item {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-11 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-11 > .gallery-item:nth-of-type(11n+1) {
    clear: both; }

.gallery-columns-12 > .gallery-item {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem; }
.gallery-columns-12 > .gallery-item:nth-of-type(n) {
    clear: none; }
.gallery-columns-12 > .gallery-item:nth-of-type(12n+1) {
    clear: both; }


/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
    list-style: none outside none;
    margin: 0; }

/*********************
PRINT STYLES
*********************/
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        -webkit-filter: none !important;
        filter: none !important;
        -ms-filter: none !important; }
    a, a:visited {
        color: #444 !important;
        text-decoration: underline; }
    a:after, a:visited:after {
        content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
        content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""; }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid; }
    thead {
        display: table-header-group; }
    tr, img {
        page-break-inside: avoid; }
    img {
        max-width: 100% !important; }
    @page {
        margin: 0.5cm; }

    p, h2, h3 {
        orphans: 3;
        widows: 3; }
    h2, h3 {
        page-break-after: avoid; }
    .sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
        display: none; } }

/******************************************************************************
Begin Zoom Local customizations.
*/
@font-face {
  font-family: 'Helvetica-light';
  src: url("fonts/Helvetica_Neue_Light.ttf");
}
@font-face {
  font-family: 'Helvetica-medium';
  src: url("fonts/Helvetica_Neue_Medium.ttf");
}
@font-face {
  font-family: 'Helvetica-bold';
  src: url("fonts/Helvetica_Neue_Bold.ttf");
}
@font-face {
  font-family: 'Helvetica-regular';
  src: url("fonts/Helvetica_Neue_Regular.ttf");
}

a {
    color: #af1556;
}

h1, h2, h3, h4, h5 {
    color: #0c60a7;
    font-weight: 200;
}

body, label {
    font-weight: 200;
}

input[type=text],input[type=password],input[type=email] {
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    border-radius:.5rem;
}

input::-webkit-input-placeholder {
    color: #0c60a7;
    font-size: medium;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #0c60a7;
    font-size: medium;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #0c60a7;
    font-size: medium;
}

input:-ms-input-placeholder {  
    color: #0c60a7;
    font-size: medium;
}

/******************************************************************************
Header
*/
/* Using fixed header, so we need some padding. */
#content #inner-content {
    padding-top: 4rem;
    background-color: #f1f1f1;
}

/* clear black background */
.header .contain-to-grid .contain-to-grid {
    background-color: transparent;
}

.header a {
    color: #0c60a7;
    font-size: large;
    font-weight: 400;
    text-decoration: underline;
}

.top-bar {
    background: none;
    background-color: transparent;
}

/* log in or sign up text in header */
.login-signup {
    text-align: right;
}

.login-signup .login::before {
    content: url(../images/user-sm.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.login-signup .login {
    padding-right: .5rem;
}

.login-signup .signup {
    padding-left: .5rem;
}

.login-signup .logout::before {
    content: url(../images/logout.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.login-signup .signup::after {
    content: url(../images/envelope.png);
    padding-left: 1rem;
    vertical-align: middle;
}

/* BEGIN - login popup */
.reveal-modal {
    background-color: #e0e7ed;
}

.reveal-modal .sm-logo {
    position: relative;
    top: 1.375rem;
    left: 1.375rem;
}

.reveal-modal .centered {
    text-align: center;
}

.reveal-modal h3::before {
    content: url(../images/user.png);
    padding-right: 1rem;
    vertical-align: middle;
}

.reveal-modal h3 {
    padding-top: 1rem;
}

.reveal-modal #username {
    background: url(../images/envelope.png) no-repeat 8px 8px;
    background-color: #fff;
    color: #0c60a7;
    padding-left: 3rem;
}

.reveal-modal #password {
    background: url(../images/lock-sm.png) no-repeat 8px 2px;
    background-color: #fff;
    color: #0c60a7;
    padding-left: 3rem;
}

.reveal-modal .forgetmenot {
    font-size: small;
    font-weight: 200;
    text-decoration: underline;
}

.reveal-modal .button {
    font-weight: 400;
    width: 100%;
}

.reveal-modal .social-signin {
    color: #af1556;
}

.reveal-modal .cancel-modal {
    font-weight: 400;
}

a.button.icon {
    line-height: 24px;
    padding: .5rem;
}

a.button.icon span{
    padding-left: 1.5rem;
    display: inline-block;
}

a.button.icon.facebook {
    background-color: #3b5998;
}

a.button.icon.twitter {
    background-color: #00aced;
}

a.button.icon.google-plus {
    background-color: #dd4b39;
}

a.button.icon.facebook span{
    background: url(../images/connect-facebook.png) no-repeat 0 0;
}

a.button.icon.twitter span{
    background: url(../images/connect-twitter.png) no-repeat 0 0;
    padding-left: 2.5rem;
}

a.button.icon.google-plus span{
    background: url(../images/connect-google-plus.png) no-repeat 0 0;
    padding-left: 2.5rem;
}
/* END - login popup */

/* small screens */
@media only screen and (max-width: 40em) {
    .reveal-modal .sm-logo {
        position: relative;
        top: 0;
        left: 0;
    }
}

/* medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    .header-wrapper {
        background: url(../images/stripe_tile.png);
        background-color: #e6eef2;
        height: 10rem;
        padding-top: 2rem;
        z-index: 999;
        -moz-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        -webkit-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
    }

    .logo {
        background: url(../images/logo_150pxH.png) no-repeat;
        height: 150px;
        width: 137px;
    }

    .login-signup {
        text-align: left;
    }

    .top-bar {
        margin-left: 2.5rem;
    }

    .top-bar-section ul li>a {
        font-size: medium;    
    }

    #content #inner-content {
        padding-top: 12rem;
    }

    .reveal-modal .sm-logo {
        position: absolute;
        float: left;
    }
} 

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 

    .header-wrapper {
        background: url(../images/stripe_tile.png);
        background-color: #e6eef2;
        height: 10rem;
        padding-top: 2rem;
        z-index: 999;
        -moz-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        -webkit-box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
        box-shadow: 0 5px 5px rgba(54, 70, 78, 0.2);
    }

    .header .contain-to-grid {
        background: none;
        background-color: transparent;
    }

    .logo {
        background: url(../images/logo_200pxH.png) no-repeat;
        height: 200px;
        width: 183px;
    }

    .second-line.row.collapse {
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

    .top-bar-section ul li>a {
        font-size: medium;    
    }

    #content #inner-content {
        padding-top: 12rem;
    }

    .reveal-modal .sm-logo {
        position: absolute;
        float: left;
    }
} 

/* Menu */
.top-bar-section ul li, .top-bar.expanded .title-area {
    background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role=separator] {
    border-right: none;
}

.top-bar-section ul li>a {
    color: #0c60a7; 
}

.top-bar-section .has-dropdown>a:after {
    //border-color: #0c60a7;
}

/******************************************************************************
Content
*/
/* setup left/right side color */
#content  {
    background-color: #36a4c0;
    padding-bottom: 32px;
}

/* Limits content width */
#content .row {
    background-color: transparent;
}

.zl-register label {
    font-size: large;
}

.zl-register .required {
    color: #af1556;
}


/******************************************************************************
Footer
*/
/* footer */
.footer {
    background: url(../images/stripe_tile.png);
    background-color: #36a4c0;
    color: #fff;
    font-size: large;
    margin-top: auto;
    padding-top: 32px;
}

/* Call to Action */
.footer .sidebar-cta  {
    background-color: #af1556;
    color: #e1e61e;
    font-size: large;
    min-height: 44px;
    padding: 16px;
}

.footer .sidebar-cta .widget  {
    margin: 0px auto;
    padding: auto;
    text-align: center;
}

.footer .sidebar-cta a {
    color: #e1e61e;
    text-decoration: underline;
}

/* Locations */
.sidebar-locations  {
    background-color: rgba(255,255,255,  0.7);
    color: #425363;
    font-size: large;
}

.sidebar-locations .row {
    max-width: 65.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.sidebar-locations .widget  {
    margin: 0 auto;
    padding: 0;
}

.sidebar-locations .widget ul {
    margin: 1rem;
}

.sidebar-locations .widgettitle {
    background-image: url("../images/shop.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #425363;
    line-height: 50px;
    padding-left: 60px;
    margin-bottom: .5rem;
    margin-top: auto;
}

.footer .sidebar-locations .widgettitle,
.footer .sidebar-locations .widgettitle a {
    color: #425363;
}

.sidebar-locations li {
    float: left;
    list-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #425363;
}

.sidebar-locations li a {
    color: #425363;
}

.sidebar-locations .button  {
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
    width: 200px;
}

/* About Widget */
.sidebar-about {
    background-color: rgba(0,0,0,  0.1);
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 65.5rem;
}

.sidebar-about .widget {
    float: left;
}

.footer .widgettitle,
.footer .widgettitle a {
    color: #ffb546;
    margin: auto;
}

.sidebar-about .widget_nav_menu {
    list-style: none;
    max-width: 33%;
    margin-right: 2rem;
}

.sidebar-about .widget_nav_menu a {
    color: #fff;
}

.sidebar-about .widget_nav_menu .menu {
    list-style: none;
    list-style-image: none;
    padding: 0px;
}

.sidebar-about .widget_text {
    max-width: 66%;
}

/* Force sidebar-about widgets to stack 100% */
@media only screen and (max-width: 768px) {
    .sidebar-about .widget {
        float: none;
        padding: 1rem;
    }

    .sidebar-about .widget .widget_nav_menu {
        max-width: 100%;
    }

    .sidebar-about .widget .widget_text {
        max-width: 100%;
    }
}

/* final-footer */
.final-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.final-footer .columns {
    padding-top: 2rem;
}

.final-footer .content {
    padding-left: 1rem;
}

/* Download */
.download-content {
    padding: 0 0 0 44px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
    position: relative; /* So the thumbnail is relative to this */
    text-align: left;
}

.download-content img {
    left: 0;
    position: absolute;
    top: 0;
}

/* Subscribe */
.subscribe-content {
    padding: 0 0 0 80px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
    position: relative; /* So the thumbnail is relative to this */
    text-align: left;
}

.subscribe-content img {
    left: 0;
    position: absolute;
    top: 0;
}

/* Socialize */
.socialize-content .widgettitle {
    text-align: center;
}

.socialize-content ul {
    margin: 0 auto;
    text-align: center;
}

.socialize-content ul li {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}

/* Centers the copyright text. */
.source-org {
    text-align: center;
}

/* Gray spacer at bottom of page. */
.footer-spacer {
    background-color: #425363; 
    color: #fff;
    font-size: small;
    margin: 0 auto;
    max-width: none;
    padding: 16px;
}

/* BEGIN - WOOCOMMERCE STYLE */






















/*yasir changes starts*/









.archive header{
    background: #fff none repeat scroll 0 0;
}

.archive section.main {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}



.archive .main #container{
    background-color: #f3f6f8;
    margin: 0 auto;
    max-width: 990px;
    padding: 30px 25px;
}




.archive ul.products li.product,.archive ul.products li.product {
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    position: relative;
    width: 100%;
    background-color:#fff;
}

.archive ul.products li.product .main_prod {
    border: 1px solid #8e8f8f;
    display: table;
    padding: 15px;
    width: 100%;
}

.archive ul.products li.product .onsale{
    display:none;
}

.archive ul.products li.product a img {
     border: medium none;
    float: left;
    /*margin-right: 20px;*/
    max-width: 350px;
    width: auto;
}

.archive ul.products li.product .star-rating{
    display:none;
}

.archive ul.products li.product .price del,.archive ul.products li.product .button {
    display: none;
}

.archive ul.products li.product h3 {
    color: #0468ad;
    font-family: helvetica;
    font-size: 33px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica-light';
    line-height:40px;
}

.despara{
    width:100%;
    color:#676767;
    font-size:22px;
    font-family: 'Helvetica-light';
    padding: 20px 0;
}

.despara .desctit{
    font-size:27px;
    color:#0468AD;
    font-family: 'Helvetica-light';
}

.main_price{
    float:left;
    width:100%;
    background-image: url(../../images/icons/dotsarrow.jpg));
    background-repeat:no-repeat;
    background-position:top left;
    padding-top:10px;
}

.archive ul.products li.product .price{
    color:#C62059;
    font-size:44px;
    font-family: 'Helvetica-bold';
    float:left;
}

.archive ul.products li.product .price ins{
    text-decoration:none;
}

.main_price ul.soc_list{
    clear: none !important;
    float: right;
}

.archive ul.products li.product .by-vendor-name{
    background-image: url("images/icons/bag.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    line-height: 50px;
    padding-left: 60px;
}

.main_price ul.soc_list li{
    display: inline;
    float: left;
    padding: 16px 22px 0;
    text-align: center;
}

.archive ul.products li.product .by-vendor-name a{
    color:#425661;
    font-size:23px;
    font-family: 'Helvetica-light';
    text-transform:capitalize;
}




.archive #content,.single-product #content {
    background-color: transparent;
}


/*.archive .header-wrapper {
    background: #fff none repeat scroll 0 0;

}*/













.single-product header{
    background: #fff none repeat scroll 0 0;
}

.single-product section.main {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}



.single-product .main #container{
    background-color: #f3f6f8;
    margin: 0 auto;
    max-width: 990px;
    padding: 30px 25px;
}




.single-product ul.products li.product,.single-product ul.products li.product {
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    position: relative;
    width: 100%;
    background-color:#fff;
}

.single-product ul.products li.product .main_prod {
    border: 1px solid #8e8f8f;
    display: list-item;
    padding: 15px;
    width: 100%;
    float:left;
}

.single-product ul.products li.product .onsale{
    display:none;
}

.single-product ul.products li.product a img {
     border: medium none;
    float: left;
    margin-right: 20px;
    max-width: 350px;
    width: auto;
}

.single-product ul.products li.product .star-rating{
    display:none;
}

.single-product ul.products li.product .price del,.single-product ul.products li.product .button {
    display: none;
}

.single-product ul.products li.product h3 {
    color: #0468ad;
    font-family: helvetica;
    font-size: 33px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica-light';
    line-height:40px;
}

.despara{
    width:100%;
    color:#676767;
    font-size:22px;
    font-family: 'Helvetica-light';
    padding: 20px 0;
}

.despara .desctit{
    font-size:27px;
    color:#0468AD;
    font-family: 'Helvetica-light';
}

.main_price{
    float:left;
    width:100%;
    background-image:url(../../images/icons/dotsarrow.jpg);
    background-repeat:no-repeat;
    background-position:top left;
    padding-top:10px;
}

.single-product ul.products li.product .price{
    color:#C62059;
    font-size:44px;
    font-family: 'Helvetica-bold';
    float:left;
}

.single-product ul.products li.product .price ins{
    text-decoration:none;
}

.main_price ul.soc_list{
    clear: none !important;
    float: right;
}

.single-product ul.products li.product .by-vendor-name{
    background-image: url("images/icons/bag.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    line-height: 50px;
    padding-left: 60px;
}

.main_price ul.soc_list li{
    display: inline;
    float: left;
    padding: 16px 18px 0;
    text-align: center;
}

.single-product ul.products li.product .by-vendor-name a{
    color:#425661;
    font-size:23px;
    font-family: 'Helvetica-light';
    text-transform:capitalize;
}




.single-product div.product .woocommerce-product-rating{
    display:none;
}

.single-product div.product p.price del, .single-product div.product span.price del {
    display: none;
}

.single-product span.onsale{
    display:none;
}

.single-product div.product form.cart, .single-product div.product p.cart{
    display:none;
}

.single-product .product_meta{
    display:none;
}

.single-product .woocommerce-tabs,.single-product .thumbnails{
    display:none;
}

.single-product .main_box{
    background-color: #fff;
    float: left;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.single-product .main_prod {
    border: 1px solid #8e8f8f;
    display: table;
    padding: 15px;
    width: 100%;
}

.single-product #content div.product div.images{
    float: left;
    width: 100%;
}

.single-product #content div.product div.summary{
    float: left;
    width: 100%;
}


.single-product div.product .product_title {
    color: #0468ad;
    font-family: "Helvetica-light";
    font-size: 33px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.single-product div.product p.price, .single-product div.product span.price {
    margin: 0;
    float:left;
}

.single-product .main_price ul.soc_list {
    margin: 0;
}

.single-product div.product p.price ins, .single-product div.product span.price ins {
    color: #c62059;
    font-family: "Helvetica-bold";
    font-size: 44px;
    text-decoration: none;
}

.single-product .related h2{
    color: #0468ad;
    font-family: "Helvetica-light";
    font-size: 33px;
    font-weight: normal;
    line-height: 40px;
}

.soc_list li img{
    width:auto !important;
}



.single-product .by-vendor-name{
    background-image: url("images/icons/bag.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    line-height: 50px;
    padding-left: 60px;
}


.single-product .by-vendor-name a{
    color:#425661;
    font-size:23px;
    font-family: 'Helvetica-light';
    text-transform:capitalize;
}

.single-product .despara{
}

.single-product .summary .main_price{
    margin-top:20px;
}


@media (max-width: 767px) {
    
        .single-product .main_price ul.soc_list {
            margin: 0;
            padding: 0;
        }
        
        .single-product ul.products li.product .main_prod {
            display: list-item;
            float:left;
        }
        
        .single-product .despara{
            font-size:15px;
        }
        
        .single-product ul.products li.product .by-vendor-name a {
            font-size: 16px;
        }
        
        .single-product .despara .desctit {
            font-size: 18px;
        }
        
        .single-product ul.products li.product h3 {
            font-size: 26px;
            line-height: 3px;
        }
        
        .single-product .main_price ul.soc_list li {
            padding: 0 6px 0 0;
        }
    
}

@media (max-width: 400px) {
    
    
    .single-product .related ul li.product {
        width: 100% !important;
    }

}


#outer-wrapper{
    width:90%;
    display:block;
    overflow:hidden;
    position:relative;
    margin:0 auto;
}

.single-product .related ul{
    position:relative;
}

.single-product .related{
    position:relative;
    clear:both;
}

.single-product .related #outer-wrapper ul li.product{
    width:840px;
    display:block;
    float:left !important;
    position:relative !important;
}


#news-back{
    position:absolute;
    left:0px;
    top:50%;
    z-index: 100;
}

#news-forward{
    position:absolute;
    right:0px;
    top:50%;
    z-index: 100;
}


#outer-wrapper ul.soc_list li {
    padding: 16px 13px 0;
}



body {
    background-color: #36a4c0;

}

.footer .sidebar-cta{
    display:none;
}

footer .textwidget {
    color: #fff;
    font-size:16px;
}

footer.main a {
    color: #fafdfd;
    font-size: 23px;
}

.footer #final-footer .widgettitle, .footer #final-footer .widgettitle a{
    font-weight:normal;
}


footer.main {
   
}

#final-footer p{
    color: #d9e1e5;
}


ul{
    list-style:none;
}

.woocommerce-pagination{
    clear:both;
}

.woocommerce-pagination ul li{
    display:inline;
}

#content #inner-content {
    padding-top: 16rem;
}

.footer .widgettitle, .footer .widgettitle a {
    color: #ffb546;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.sidebar-about .widget_nav_menu a {
    color: #fafdfd;
    font-size: 23px;
}

.sidebar-about .widget_nav_menu {
    margin-right: 1rem;
}


.footer {
    background: rgba(0, 0, 0, 0) url("images/footer-backg.png") no-repeat scroll center center / cover ;
    border-bottom: 20px solid #425661;
    padding-top: 35px;
}

.source-org{
    display:none;
}

.top-bar-section ul li > a {
    color: #1f629c;
    font-family: "Open Sans",sans-serif;
    font-size: 19px;
    text-decoration: none;
}

.header .top-bar-section ul li > a:hover,.header .top-bar-section ul li > a:active {
    background-color: transparent;
    color: #ab1f58;
}


.top-bar-section .has-dropdown a::after {
    background: rgba(0, 0, 0, 0) url("../../images/nav-arrow.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    height: 9px;
    left: 6px;
    padding-left: 7px;
    position: relative;
    width: 17px;
    top:1px;
}

.top-bar-section .has-dropdown a:hover::after{
    background-image:url(../../images/nav-arrow_hover.png);
}

.top-bar-section .has-dropdown ul a::after{
    background:none;
}

.top-bar-section .has-dropdown ul a:hover::after{
    background:none;
}


.search_main {
    padding-left: 7px;
    padding-top: 0;
    position: relative;
    top: 0px;
}


.search_main .glass {
    background: rgba(0, 0, 0, 0) url("../../images/glass.png") no-repeat scroll center center;
    height: 26px;
    left: 33px;
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    width: 26px;
}




.search_main input {
     background-color: #fff;
    border: 1px solid #b7c3c6;
    border-radius: 7px;
    box-shadow: none;
    color: #0468ad;
    float: right;
    font-family: "Open Sans",sans-serif;
    font-size: 19px;
    font-weight: normal;
    max-width: 243px;
    padding: 6.5px 3px 6.5px 46px;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.top-bar-section ul li:hover:not(.has-form) > a{
    background:none;
    
}


.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    color: ivory !important;
}

/*yasir changes ends*/

/*Moon: start custom menu styles*/
.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: transparent none repeat scroll 0% 0%;
    color: #0C60A7;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
    background: transparent none repeat scroll 0% 0%;
    color: #AF1556;
}
.top-bar-section li.menu-item.active:not(.has-form) a:not(.button){
    color: #AF1556;
}


/*styling of footer */ 

    /*30-oct-2015*/
.footer {
    border-bottom: 0px;
    background: none;
    background-color: #288ca1;
    padding-top: 0px;
}
.footer .sidebar-about {
    max-width: 100%;
    margin:0px;
    padding: 40px 0px;
    background-color: #116881;
}

.footer .sidebar-about .widget_nav_menu {
    max-width: 40%;
}

.footer .sidebar-about .widget_text {
    max-width: 60%;
}

.footer  h4.widgettitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: normal;   
}

.footer .sidebar-locations {
    padding-top: 30px;
}

.footer .sidebar-about .menu a {
    font-size: 14px;
}

.footer .sidebar-about .widget {
    margin: 0px;
}

.footer .sidebar-about .textwidget {
    font-size: 18px;
    line-height: 25px;
    color: #d9e1e5;
}
.footer .sidebar-about .widget.widget_text {
    float:right;
}

.footer-spacer .source-org {
    display:block;
    font-size: 14px;
    margin-bottom: 0px;
    color: #d9e1e5;
}
.final-footer {
    padding: 50px 0px 70px;
}

.final-footer.row h4 {
    font-size: 24px;
    font-weight: 500;
}

.final-footer.row img {
    top:6px;
}
.final-footer.row  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
}


.footer .sidebar-about .menu a:before {
    content: "\f192";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 8px;
    font-size: 12px;
}

.final-footer .footer_social_media a {
    font-size: 28px;
    color:#fbb040;
}

.socialize-content ul li {
    padding: 0px 8px;
}

.subscribe-content img {
    top:13px !important;
}

.footer .row {
    max-width: 1140px !important;
}

.footer-spacer {
    padding: 10px;
}

/*Header-styling-*/
.header-wrapper {
    background: none;
    background-color: #fff;
}
.header .row {
    max-width: 1140px !important;
}

/*.row.collapse  .row{
    float:left;
}*/

.header-wrapper .large-3 {
    position: absolute;
    right: 0px;
    width: auto;

}

.header-wrapper .large-3.columns .row {
    float: right !important;
}

.header-wrapper .large-3.columns  .logout-large img {
    margin-left: 20px;
}

.header-wrapper .large-7 {
    width:83% !important;
    top:6px;
}

.header-wrapper .logout-large a {
    font-weight: 800;
}

.logged-in .header-wrapper .searchbar-large {
    display: none;
}

.searchbar-large img {
    bottom:7px !important;
    width:18px !important;
    height:18px !important;
    left:6px !important;
}

.searchbar-large input {
    border-radius:5px;
    height: 35px !important;
    outline:none;
    border:1px solid #66afe9;
}
.searchbar-large input:focus {
    background-color: #fff;
    border:1px solid #66afe9;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.logout-large .signup:after {
    content:"\f0e0";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 8px;
    font-size: 29px;
}
.logout-large {
   line-height: 24px;
}

.ui-datepicker-calendar td a {
    background:none !important;
    border:none !important;
}
.ui-datepicker-calendar td a:hover {
    border:none;
}

.ui-datepicker-calendar tbody tr:nth-child(odd){
    background:rgba( 251, 176, 64, 0.56);
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width:0.8em !important;
    height: 0.8em !important;
}

.ui-corner-all p strong {
   color:#C71650;
   font-size: 20px;
}

.leftDivCont.divWhiteBackground h4 {
    font-size: 30px;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.ui-widget-header {
    border: 1px solid #36a4c0 !important;
    background: #36a4c0 !important;
    color: #fff !important;
}

.ui-jqgrid-btable.ui-common-table  tbody tr:nth-child(even){
    background: rgba( 251, 176, 64, 0.56);
}

.ui-jqgrid tr.jqgrow td {
    height:34px !important;
    padding: 1px 8px !important;
}

div#gview_promotedListings {
     width:100% !important;
} 

div#gbox_promotedListings{
    width:100% !important;
}

.ui-jqgrid-hdiv {
    width:100% !important;
} 

.ui-jqgrid-bdiv {
    width:100% !important;
}

.ui-jqgrid-pager.ui-state-default.ui-corner-bottom {
    width:100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0px !important; 
}

.ui-common-table {
    width:100% !important;
}

.gridCatBut {
    margin: 0px 5px !important;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    font-size: 16px !important;
    height: 35px !important;
}
.ui-jqgrid-view  {
    width:100% !important;
}
#gbox_NopromotedListings {
    width:100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0px !important;
}
.ui-jqgrid .ui-pg-input {
    height: 20px !important;
}
.ui-jqgrid-pager td {
    width: auto !important;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pager-table {
    table-layout: auto !important;
}

.moveDashboardMenuLargeLeft img {
    width:auto !important;
}

.top-bar-section ul li > a {

    padding: 0px 8px !important;
}

.header-wrapper .large-3.columns .row:nth-child(2) {
    clear:both;
}

.squard {
    background-position: center;
    background-repeat: no-repeat;
}

#uploadImageForm p {
    text-align: center;
    margin-bottom: 0px !important;
}

.uploadFileBut {
    float:none !important;
    background-color:transparent !important;
    margin-left: 0px !important;
}

.displayLabel {
    font-size: 20px;
}
input.uploadFileBut:focus {
    outline: none;
}

textarea:focus {
    background: #fff;
    border-color: transparent;
}

#listingTitle:focus {
    border:transparent;
    background-color: #fff;
}
.ui-tabs-active.ui-state-active {
    outline:0 !important;
}
.ui-state-default:focus {
    outline: 0 !important;
}

#productCategory span.ui-jqgrid-title {
    margin: 2px 0 0 6px !important;
    display: block;
    font-size: 18px;
}

span.ui-jqgrid-title br {
    display: none;
}
#productCategory #gbox_categoriesGrid {
    width:100% !important;
}

#tabs-2 #gbox_matchingItemsGrid {
    width:100% !important;
}

.ui-jqgrid .ui-jqgrid-sortable {
    height: 20px !important;
}

table input[type=checkbox] {
    margin-bottom: 0px !important;
}

#productSocialMedia td img {
    width:50%;
}

#productSocialMedia input[type=checkbox] {
    transform:scale(1) !important;
}

#productBasic input[type=text] {
    border-radius: 0px !important;
}

#productBasic .ui-jqgrid .ui-jqgrid-btable {
    table-layout: auto !important;
}

.buttonProductsGrayBack {
    background-color: #49AACB !important;
    color: #fff !important;
}
.ui-jqgrid tr.jqgroup td {
    height: 34px !important;
}

#productBasic .ui-jqgrid-labels {
    height: 34px;
}

span.ui-jqgrid-title {
    display: block;
    margin-top: 6px !important;
}

.page-template-promotedListingsDashboard #inner-content {
    padding-top:12rem !important;
}
.ui-state-hover {
    border:1px solid #DEDEDE !important;
}
.ui-th-column.ui-th-ltr.ui-state-default {
    border:1px solid #DEDEDE !important;
}

.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none; /*1px solid #DEDEDE !important;*/
}

.leftDivCont {
    padding: 10px !important;
    border-radius: 0px !important;
}

.leftDivCont , .rightDivCont {
    border-radius: 0px !important;
    padding: 10px !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    outline: none !important;
}

.moveRetailerMenuLargeLeft img {
    width: 30px;
    height: auto ;
}

/*.header .top-bar-section.right.createListingsMenuLargeul li > a {
    color:#ab1f58;
}*/