.tabs .tab-title.active a, .tabs dd.active a {
  background-color: #C62059;
  color: #F2F2F2; }

ul.products {
  margin-left: 0; }
  ul.products li.product {
    box-shadow: 0px 5px 5px rgba(54, 70, 78, 0.2); }

.zl-product-info {
  border: 1px solid #8E8F8F;
  padding: 1rem; }
  .zl-product-info.row {
    margin: 0; }
  .zl-product-info h3 a {
    color: #0468AD; }

.vendor-info {
  padding-bottom: 1rem; }
  .vendor-info.row {
    margin: 0; }
  .vendor-info img {
    margin-top: .3rem; }
  .vendor-info address.vendor-vcard span {
    color: #2B5061;
    display: block;
    line-height: 1.5; }
    .vendor-info address.vendor-vcard span:nth-child(1) {
      font-size: 1.1rem;
      font-weight: 300; }
    .vendor-info address.vendor-vcard span a {
      color: #2B5061; }

.store-telephone {
  margin-right: 1.2rem; }

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: transparent url("../../assets/images/loading.gif") no-repeat center center; }

/*fix top border of shop-page*/
div#content > div#inner-content.row {
  padding-top: 12rem; }

.zl-shop-head {
  box-shadow: 0px 5px 5px rgba(54, 70, 78, 0.2); }
  .zl-shop-head .breadcrumbs {
    border-width: 0;
    list-style: outside none none;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0; }
    .zl-shop-head .breadcrumbs li a {
      font-size: 1rem !important;
      text-transform: capitalize !important; }

.zl-filters .accordion {
  margin-left: 0; }
  .zl-filters .accordion a, .zl-filters .accordion a:hover, .zl-filters .accordion a:active, .zl-filters .accordion a:visited {
    background-color: #C62059;
    color: #F2F2F2;
    padding: .5rem; }
.zl-filters .accordion .accordion-navigation.active > a, .zl-filters .accordion dd.active > a {
  background: #C62059; }
.zl-filters li.accordion-navigation {
  border: solid 1px #F2F2F2; }

.main ul.products li.product {
  float: left;
  margin: 0px 0px 20px;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #FFF; }

nav.woocommerce-breadcrumbs {
  display: none; }

.zl-store-header-wrapper div.images {
  text-align: center; }

.zl-store-info {
  padding-top: 1rem; }

p.zl-store-description span {
  color: #0C60A7;
  font-weight: 700; }
p.zl-vendor-address span {
  display: block; }

.store-info-container {
  background-color: #FFF;
  padding: 1.25rem 0; }

#content div.row.zl-shop-head.zl-product-list {
  background-color: transparent; }
#content div.row.zl-shop-head p {
  color: #676767;
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: .1rem; }
#content div.row.zl-shop-head ul.inline-list > li {
  /*margin-left:.25rem;*/ }
#content div.row.zl-shop-head a {
  text-decoration: underline;
  color: #0C60A7; }
  #content div.row.zl-shop-head a.button {
    color: #F2F2F2;
    padding: .7rem; }
  #content div.row.zl-shop-head a.button.tiny.info {
    margin-top: 0;
    margin-bottom: .1rem;
    margin-left: 0;
    margin-right: .1rem;
    padding: .3rem; }
    #content div.row.zl-shop-head a.button.tiny.info::after {
      content: "\00d7";
      margin-left: .2rem;
      font-weight: 700; }
    #content div.row.zl-shop-head a.button.tiny.info.category-item {
      background-color: #ed92b1; }
      #content div.row.zl-shop-head a.button.tiny.info.category-item:hover, #content div.row.zl-shop-head a.button.tiny.info.category-item:focus {
        background-color: #e66692; }
    #content div.row.zl-shop-head a.button.tiny.info.search-item {
      background-color: #b4b4b4; }
      #content div.row.zl-shop-head a.button.tiny.info.search-item:hover, #content div.row.zl-shop-head a.button.tiny.info.search-item:focus {
        background-color: #9a9a9a; }
    #content div.row.zl-shop-head a.button.tiny.info.distance-item {
      background-color: #f8a510; }
      #content div.row.zl-shop-head a.button.tiny.info.distance-item:hover, #content div.row.zl-shop-head a.button.tiny.info.distance-item:focus {
        background-color: #f29e07; }

#category-filter-list li:first-child::before {
  content: "Showing Results For:";
  display: inline-block;
  font-size: .8rem;
  color: #0C60A7;
  margin-right: .8rem; }

#category-filter-button,
#category-filter-button-bot,
#zl-load-more {
  background-color: #C62059;
  border-color: #C62059; }
  #category-filter-button:hover, #category-filter-button :focus,
  #category-filter-button-bot:hover,
  #category-filter-button-bot :focus,
  #zl-load-more:hover,
  #zl-load-more :focus {
    background-color: #9a1945; }

#distance-filter-button,
#distance-filter-button-bot {
  background-color: #f9b233;
  border-color: #f9b233; }
  #distance-filter-button:hover, #distance-filter-button :focus,
  #distance-filter-button-bot:hover,
  #distance-filter-button-bot :focus {
    background-color: #f8a510; }

#totop {
  background-color: #09477c;
  border-color: #09477c; }
  #totop:hover, #totop :focus {
    background-color: #0a4d86; }

.reveal-modal a.button {
  color: #F2F2F2;
  padding: .7rem; }

.current-listing-title h3 {
  padding: 2rem 2rem 1rem; }

form.zl-register {
  padding: 1rem 0; }
  form.zl-register label {
    padding: 1rem 0px; }
    form.zl-register label.inline {
      padding: 0.5625rem 0px; }

.archive ul.products li.product a img {
  max-width: 100%;
  padding: 1rem 0px; }

li.product > div.zl-product-info > div.image-div > a > img,
div.zl-product-info > div.image-div > a > img {
  padding: 0 1rem 1rem; }

a.vendor-social-uri {
  display: inline-block;
  width: 32px; }

p.price span.amount {
  color: #C62059;
  font-size: 44px;
  font-family: "Helvetica-bold"; }

div.store-info-container img.attachment-shop_single {
  padding-bottom: 20px; }

span.description {
  color: #0468AD;
  font-weight: 400;
  margin-right: 0.5rem; }

.single-product div.product h1.product_title {
  margin: 1rem 0; }

input[type="file"], input[type="checkbox"], input[type="radio"], label.inline, select {
  margin: 0; }

.breadcrumbs > *::before {
  content: "/";
  margin: 0px 0.75rem;
  position: relative;
  top: 1px;
  font-size: 1rem;
  color: #008CBA; }

.day, .hours {
  font-size: 0.9rem; }

.day {
  margin-right: .5rem;
  text-transform: uppercase; }

.reveal-modal .back-reveal-modal {
  color: #AAA;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 0.29rem;
  right: 4.125rem; }

div.main-price.row {
  width: 100%;
  background-image: url("../../images/icons/dotsarrow.png");
  background-repeat: repeat-x;
  background-position: left top;
  padding-top: 10px; }

.zl-info {
  color: #0C60A7;
  font-size: 1rem;
  font-weight: 600; }

#search-button,
#gmap-search-button {
  padding: 0 !important; }

#use-current-location {
  padding: .5rem;
  border-color: #008CBA;
  background-color: #008CBA;
  border-width: 1px;
  border-color: #007095; }

#search-box,
#gmap-search-box {
  border-radius: 0 !important; }

#float-back-to-top {
  position: fixed;
  right: 30px;
  bottom: 0;
  opacity: .8;
  display: none; }
  #float-back-to-top #category-filter-button-bot,
  #float-back-to-top #location-filter-button-bot,
  #float-back-to-top #distance-filter-button-bot,
  #float-back-to-top #totop {
    padding: 1rem; }

ul.soc-list.inline-block li {
  display: inline-block;
  margin: auto;
  float: none; }

/*# sourceMappingURL=zl-shop.css.map */
