@import "helper";

.tabs .tab-title.active a, .tabs dd.active a {
  background-color: $tab-title-background;
  color: $font-light;
}

// .store-info-container{
//   box-shadow: 0px 5px 5px $box-shadow;
// }
ul.products, {

  margin-left: 0;
  li.product{
    box-shadow: 0px 5px 5px $box-shadow;
  }
}

.zl-product-info {
  border: 1px solid #8E8F8F;
  padding: 1rem;
  &.row {
    margin: 0;
  }
  h3 {
    a {
      color: #0468AD;
    }
  }
}

.vendor-info {
  padding-bottom: 1rem;
  &.row {
    margin: 0;
  }
  img {
    margin-top: .3rem;
  }
  address.vendor-vcard {
    span {
      color: #2B5061;
      display: block;
      line-height: 1.5;
      &:nth-child(1) {
        font-size: 1.1rem;
        font-weight: 300;
      }
      a {
        color: #2B5061;
      }
    }
  }
}

.store-telephone {
  margin-right: 1.2rem;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: transparent url("../../assets/images/loading.gif") no-repeat center center;
}

/*fix top border of shop-page*/
div#content > div#inner-content.row {
  padding-top: 12rem;
}

//styles for the shop front pages
.zl-shop-head {
  box-shadow: 0px 5px 5px $box-shadow;
  .breadcrumbs {
    border-width: 0;
    list-style: outside none none;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    li {
      a {
        font-size: 1rem !important;
        text-transform: capitalize !important;
      }
    }
  }
}

//for customizing shop filters
.zl-filters {
  //padding-top: 3rem;
  .accordion {
    margin-left: 0;
    a, a:hover, a:active, a:visited {
      background-color: $tab-title-background;
      color: $font-light;
      padding: .5rem;
    }

  }
  .accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: $tab-title-background;
  }
  li.accordion-navigation {
    border: solid 1px $font-light;
  }
}

//fix for product list on ajax
.main ul.products li.product {
  float: left;
  margin: 0px 0px 20px;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #FFF;
}

//remove breadcrumbs from display
nav.woocommerce-breadcrumbs {
  display: none;
}

//stying for vendor page and single product pages
.zl-store-header-wrapper {
  div.images{
    text-align:center;
  }
}

.zl-store-info {
  padding-top: 1rem;
}

p {
  &.zl-store-description {
    span {
      color: $font-blue;
      font-weight: 700;
    }
  }
  &.zl-vendor-address {
    span {
      display: block;
    }
  }
}

.store-info-container {
  background-color: #FFF;
  padding: 1.25rem 0;
}

#content div.row.zl-shop-head {
  &.zl-product-list{
    background-color: transparent;
   }
  // margin: .1rem;
  // background-color: #FFF;
  // padding: 1rem .25rem;
  p {
    color: $font-p-color;
    font-size: $font-p-size;
    margin: 0;
    letter-spacing: .1rem;
  }
  ul{
    &.inline-list{
      > li{
        /*margin-left:.25rem;*/
      }
    }
  }
  a {
    text-decoration: underline;
    color: $font-blue;
    &.button{
      color: $font-light;
      padding: .7rem;
    }
    &.button.tiny.info{
      margin-top: 0;
      margin-bottom: .1rem;
      margin-left: 0;
      margin-right: .1rem;
      padding: .3rem;
      &::after{
        content:"\00d7";
        margin-left: .2rem;
        font-weight: 700;
      }
      &.category-item{
        background-color: lighten($accordion-header-bg-color,30%);
        &:hover,&:focus{
          background-color: lighten($accordion-header-bg-color,20%);
        }
      }
      &.search-item{
        background-color: lighten($grey-accent,30%);
        &:hover,&:focus{
          background-color: lighten($grey-accent,20%);
        }
      }
      &.distance-item{
        background-color:darken($orange-accent, 7%);
        &:hover,&:focus{
          background-color: darken($orange-accent, 10%);;
        }
      }
    }
  }

}
#category-filter-list{
  li:first-child{
    &::before{
      content: "Showing Results For:";
      display: inline-block;
      font-size: .8rem;
      color: $font-blue;
      margin-right: .8rem;
    }
  }
}
#category-filter-button,
#category-filter-button-bot,
#zl-load-more{
  background-color: $accordion-header-bg-color;
  border-color: $accordion-header-bg-color;
  &:hover,:focus{
    background-color: darken($accordion-header-bg-color, 10%);
  }
}
#distance-filter-button,
#distance-filter-button-bot{
  background-color: $orange-accent;
  border-color: $orange-accent;
  &:hover,:focus{
    background-color: darken($orange-accent, 7%);
  }
}
#totop{
  background-color: darken($font-blue,9%);
  border-color:  darken($font-blue,9%);
  &:hover,:focus{
    background-color: darken($font-blue, 7%);
  }
}
.reveal-modal{
  a.button{
    color: $font-light;
    padding: .7rem;
  }
}
.current-listing-title {
  h3 {
    padding: 2rem 2rem 1rem;
  }
}

//additional styling for the forms
form{
  &.zl-register{
    padding:1rem 0;
    label{
      padding:1rem 0px;
      &.inline{
        padding: 0.5625rem 0px;
      }
    }
  }
}
//end additional styling for the forms
.archive ul.products li.product a img {
  max-width: 100%;
  padding: 1rem 0px;
}
li.product > div.zl-product-info > div.image-div > a> img,
div.zl-product-info > div.image-div > a > img {
  padding: 0 1rem 1rem;
}
a.vendor-social-uri{
  display: inline-block;
  width:32px;
}

//some styling for single-product
p.price{
  span.amount{
    color: #C62059;
    font-size: 44px;
    font-family: "Helvetica-bold";
  }
}

div.store-info-container{
  img.attachment-shop_single{
    padding-bottom:20px;
  }
}
span.description{
  color: #0468AD;
  font-weight: 400;
  margin-right:0.5rem;
}

.single-product div.product h1.product_title {
  margin:1rem 0;
}
input[type="file"], input[type="checkbox"], input[type="radio"], label.inline, select {
  margin: 0;
}

.breadcrumbs > *::before {
  content: "/";
  margin: 0px 0.75rem;
  position: relative;
  top: 1px;
  font-size: 1rem;
  color: #008CBA;
}
//hours of operation
.day,.hours{
  font-size:.9rem
}
.day{
  margin-right:.5rem;
  text-transform: uppercase;
}

.reveal-modal .back-reveal-modal {
  color: #AAA;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 0.29rem;
  right: (3*1.375rem);
}

div.main-price.row{
  width: 100%;
  background-image: url("../../images/icons/dotsarrow.png");
  background-repeat: repeat-x;
  background-position: left top;
  padding-top: 10px;

}

.zl-info{
  color: $font-blue;
  font-size: 1rem;
  font-weight: 600;
}

#search-button,
#gmap-search-button{
  padding:0 !important;
}
#use-current-location{
  padding:.5rem;
  border-color: #008CBA;
  background-color: #008CBA;
  border-width: 1px;
  border-color: #007095;
}
#search-box,
#gmap-search-box
{
  border-radius: 0 !important;
}
#float-back-to-top {
  position: fixed;
  right: 30px;
  bottom: 0;
  opacity: .8;
  display: none;
  #category-filter-button-bot,
  #location-filter-button-bot,
  #distance-filter-button-bot,
  #totop{
    padding:1rem;
  }
}

//for vendor page social
ul.soc-list.inline-block{
  li{
    display: inline-block;
    margin:auto;
    float: none;
  }
}